[
  {
    "Clusters": {
      "desired_config": {
        "type": "krb5-conf",
        "tag": "version1",
        "properties": {
          "domains":"",
          "manage_krb5_conf": "{{ ambari_manage_krb5_conf | default('true') | lower }}",
          "conf_dir":"/etc",
          "content" : "{{'\n[libdefaults]\n   renew_lifetime = 7d\n   rdns = false\n   forwardable = true\n   default_realm = {{realm}}\n   ticket_lifetime = 24h\n   dns_lookup_realm = true\n   dns_lookup_kdc = true\n   udp_preference_limit = 0\n   default_ccache_name = FILE:/tmp/krb5cc_%{uid}\n   default_tgs_enctypes = aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96\n   default_tkt_enctypes = aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96\n    
{% if domains %}
[domain_realm]
{%- for domain in domains.split(\',\') %}
  {{domain|trim()}} = {{realm}}
{%- endfor %}
{% endif %}
[logging]
  default = FILE:/var/log/krb5kdc.log
  admin_server = FILE:/var/log/kadmind.log
  kdc = FILE:/var/log/krb5kdc.log
[realms]
  {{realm}} = {
{%- if master_kdc %}
    master_kdc = {{master_kdc|trim()}}
{%- endif -%}
{%- if kdc_hosts|int > 0 -%}
{%- set kdc_host_list = kdc_hosts.split(\',\')  -%}
{%- if kdc_host_list and kdc_host_list|length > 0 %}
    admin_server = {{admin_server_host|default(kdc_host_list[0]|trim(), True)}}
{%- if kdc_host_list -%}
{%- if master_kdc and (master_kdc not in kdc_host_list) %}
    kdc = {{master_kdc|trim()}}
{%- endif -%}
{% for kdc_host in kdc_host_list %}
    kdc = {{kdc_host|trim()}}
{%- endfor -%}
{% endif %}
{%- endif %}
{%- endif %}
  }
{# Append additional realm declarations below #}
' | replace('\n', '\\n')
              }}"
              {% raw %}
    }
  }
}
  },
  {
    "Clusters": {
      "desired_config": {
        "type": "kerberos-env",
        "tag": "version1",
        "properties": {
            "ad_create_attributes_template": "\n{\n  \"objectClass\": [\"top\", \"person\", \"organizationalPerson\", \"user\"],\n  \"cn\": \"$principal_name\",\n  #if( $is_service )\n  \"servicePrincipalName\": \"$principal_name\",\n  #end\n  \"userPrincipalName\": \"$normalized_principal\",\n  \"unicodePwd\": \"$password\",\n  \"accountExpires\": \"0\",\n  \"userAccountControl\": \"66048\"\n}",
            {% endraw %}
      			"admin_server_host": "{{ kdc_server }}",
      			"case_insensitive_username_rules": "false",
      			"container_dn": "",
      			"create_ambari_principal": "true",
      			"encryption_types": "aes128-cts-hmac-sha256-128 aes256-cts-hmac-sha384-192 aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96",
      			"executable_search_paths": "/usr/bin, /usr/kerberos/bin, /usr/sbin, /usr/lib/mit/bin, /usr/lib/mit/sbin",
      			"group": "ambari-managed-principals",
      			"install_packages": "true",
      			"kdc_create_attributes": "",
      			"kdc_hosts": "{{ kdc_server }}",
      			"kdc_type": "{{ kdc_type }}",
      			"manage_identities": "{{manage_identities}}",
            "ldap_url": "",
      			"manage_auth_to_local": "true",
            "master_kdc": "{{ kdc_server }}",{% if ambari_stack_name == 'HDP' and ambari_stack_version <= 2.6 %}
      			"password_chat_timeout": "5",
      			"set_password_expiry": "false",{% endif %}
      			"password_length": "20",
      			"password_min_digits": "1",
      			"password_min_lower_letters": "1",
      			"password_min_punctuation": "1",
      			"password_min_uppercase_letters": "1",
      			"password_min_whitespace": "0",
      			"realm": "{{ kerberos_realm }}",
      			"service_check_principal_name": "${cluster_name|toLower()}-${short_date}"
        }
      }
    }
  }
]
