{
  "session_attributes" : {
    "kerberos_admin" : {
      "principal" : "{{ kerberos_principal }}",
      "password" : "{{ kerberos_principal_password }}"
    }
  },
  "Clusters": {
    "security_type" : "KERBEROS"
  }
}