{
	"RepositoryVersions": {
		"display_name": "HDP-2.6.5.0",
		"has_children": false,
		"hidden": false,
		"id": 1,
		"parent_id": null,
		"repository_version": "2.6.5.0-292",
		"resolved": false,
		"services": [{
			"name": "DRUID",
			"versions": [{
				"version": "0.10.1",
				"components": []
			}],
			"display_name": "Druid"
		}, {
			"name": "TEZ",
			"versions": [{
				"version": "0.7.0",
				"components": []
			}],
			"display_name": "Tez"
		}, {
			"name": "SPARK",
			"versions": [{
				"version": "1.6.3",
				"components": []
			}],
			"display_name": "Spark"
		}, {
			"name": "HBASE",
			"versions": [{
				"version": "1.1.2",
				"components": []
			}],
			"display_name": "HBase"
		}, {
			"name": "RANGER_KMS",
			"versions": [{
				"version": "0.7.0",
				"components": []
			}],
			"display_name": "Ranger KMS"
		}, {
			"name": "ATLAS",
			"versions": [{
				"version": "0.8.0",
				"components": []
			}],
			"display_name": "Atlas"
		}, {
			"name": "HIVE",
			"versions": [{
				"version": "1.2.1000",
				"components": []
			}],
			"display_name": "Hive"
		}, {
			"name": "SLIDER",
			"versions": [{
				"version": "0.92.0",
				"components": []
			}],
			"display_name": "Slider"
		}, {
			"name": "FLUME",
			"versions": [{
				"version": "1.5.2",
				"components": []
			}],
			"display_name": "Flume"
		}, {
			"name": "MAHOUT",
			"versions": [{
				"version": "0.9.0",
				"components": []
			}],
			"display_name": "Mahout"
		}, {
			"name": "SQOOP",
			"versions": [{
				"version": "1.4.6",
				"components": []
			}],
			"display_name": "Sqoop"
		}, {
			"name": "MAPREDUCE2",
			"versions": [{
				"version": "2.7.3",
				"components": []
			}],
			"display_name": "MapReduce2"
		}, {
			"name": "OOZIE",
			"versions": [{
				"version": "4.2.0",
				"components": []
			}],
			"display_name": "Oozie"
		}, {
			"name": "HDFS",
			"versions": [{
				"version": "2.7.3",
				"components": []
			}],
			"display_name": "HDFS"
		}, {
			"name": "ACCUMULO",
			"versions": [{
				"version": "1.7.0",
				"components": []
			}],
			"display_name": "Accumulo"
		}, {
			"name": "ZOOKEEPER",
			"versions": [{
				"version": "3.4.6",
				"components": []
			}],
			"display_name": "ZooKeeper"
		}, {
			"name": "YARN",
			"versions": [{
				"version": "2.7.3",
				"components": []
			}],
			"display_name": "YARN"
		}, {
			"name": "PIG",
			"versions": [{
				"version": "0.16.0",
				"components": []
			}],
			"display_name": "Pig"
		}, {
			"name": "KNOX",
			"versions": [{
				"version": "0.12.0",
				"components": []
			}],
			"display_name": "Knox"
		}, {
			"name": "STORM",
			"versions": [{
				"version": "1.1.0",
				"components": []
			}],
			"display_name": "Storm"
		}, {
			"name": "RANGER",
			"versions": [{
				"version": "0.7.0",
				"components": []
			}],
			"display_name": "Ranger"
		}, {
			"name": "ZEPPELIN",
			"versions": [{
				"version": "0.7.3",
				"components": []
			}],
			"display_name": "Zeppelin Notebook"
		}, {
			"name": "KAFKA",
			"versions": [{
				"version": "1.0.0",
				"components": []
			}],
			"display_name": "Kafka"
		}, {
			"name": "FALCON",
			"versions": [{
				"version": "0.10.0",
				"components": []
			}],
			"display_name": "Falcon"
		}, {
			"name": "SPARK2",
			"versions": [{
				"version": "2.3.0",
				"components": []
			}],
			"display_name": "Spark2"
		}],
		"stack_name": "HDP",
		"stack_services": [{
			"name": "SPARK2",
			"display_name": "Spark2",
			"comment": "Apache Spark is a fast and general engine for large-scale data processing",
			"versions": ["2.3.0"]
		}, {
			"name": "ZOOKEEPER",
			"display_name": "ZooKeeper",
			"comment": "Centralized service which provides highly reliable distributed coordination",
			"versions": ["3.4.6"]
		}, {
			"name": "KAFKA",
			"display_name": "Kafka",
			"comment": "A high-throughput distributed messaging system",
			"versions": ["1.0.0"]
		}, {
			"name": "ATLAS",
			"display_name": "Atlas",
			"comment": "Atlas Metadata and Governance platform",
			"versions": ["0.8.0"]
		}, {
			"name": "ACCUMULO",
			"display_name": "Accumulo",
			"comment": "Robust, scalable, high performance distributed key/value store.\n      ",
			"versions": ["1.7.0"]
		}, {
			"name": "FLUME",
			"display_name": "Flume",
			"comment": "A distributed service for collecting, aggregating, and moving large amounts of streaming data into HDFS",
			"versions": ["1.5.2"]
		}, {
			"name": "SQOOP",
			"display_name": "Sqoop",
			"comment": "Tool for transferring bulk data between Apache Hadoop and\n        structured data stores such as relational databases\n      ",
			"versions": ["1.4.6"]
		}, {
			"name": "OOZIE",
			"display_name": "Oozie",
			"comment": "System for workflow coordination and execution of Apache Hadoop jobs.  This also includes the installation of the optional Oozie Web Console which relies on and will install the <a target=\"_blank\" href=\"http://www.sencha.com/legal/open-source-faq/\">ExtJS</a> Library.\n      ",
			"versions": ["4.2.0"]
		}, {
			"name": "GANGLIA",
			"display_name": "Ganglia",
			"comment": "Ganglia Metrics Collection system (<a href=\"http://oss.oetiker.ch/rrdtool/\" target=\"_blank\">RRDTool</a> will be installed too)",
			"versions": ["3.5.0"]
		}, {
			"name": "RANGER",
			"display_name": "Ranger",
			"comment": "Comprehensive security for Hadoop",
			"versions": ["0.7.0"]
		}, {
			"name": "HDFS",
			"display_name": "HDFS",
			"comment": "Apache Hadoop Distributed File System",
			"versions": ["2.7.3"]
		}, {
			"name": "LOGSEARCH",
			"display_name": "Log Search",
			"comment": "Log aggregation, analysis, and visualization for Ambari managed services. This service is <b>Technical Preview</b>.",
			"versions": ["0.5.0"]
		}, {
			"name": "SMARTSENSE",
			"display_name": "SmartSense",
			"comment": "SmartSense - Hortonworks SmartSense Tool (HST) helps quickly gather configuration, metrics, logs from common HDP\n                services that aids to quickly troubleshoot support cases and receive cluster-specific recommendations.\n            ",
			"versions": ["1.4.5.2.6.2.2-1"]
		}, {
			"name": "STORM",
			"display_name": "Storm",
			"comment": "Apache Hadoop Stream processing framework",
			"versions": ["1.1.0"]
		}, {
			"name": "KNOX",
			"display_name": "Knox",
			"comment": "Provides a single point of authentication and access for Apache Hadoop services in a cluster",
			"versions": ["0.12.0"]
		}, {
			"name": "SUPERSET",
			"display_name": "Superset",
			"comment": "Superset is a data exploration platform designed to be visual, intuitive and interactive.",
			"versions": ["0.15.0"]
		}, {
			"name": "ZEPPELIN",
			"display_name": "Zeppelin Notebook",
			"comment": "A web-based notebook that enables interactive data analytics. It enables you to\n        make beautiful data-driven, interactive and collaborative documents with SQL, Scala\n        and more.\n      ",
			"versions": ["0.7.3"]
		}, {
			"name": "MAPREDUCE2",
			"display_name": "MapReduce2",
			"comment": "Apache Hadoop NextGen MapReduce (YARN)",
			"versions": ["2.7.3"]
		}, {
			"name": "HBASE",
			"display_name": "HBase",
			"comment": "A Non-relational distributed database, plus Phoenix, a high performance SQL layer for low latency applications.",
			"versions": ["1.1.2"]
		}, {
			"name": "MAHOUT",
			"display_name": "Mahout",
			"comment": "\n        Project of the Apache Software Foundation to produce free implementations of distributed or\n        otherwise scalable machine learning algorithms focused primarily in the areas of collaborative\n        filtering, clustering and classification\n      ",
			"versions": ["0.9.0"]
		}, {
			"name": "FALCON",
			"display_name": "Falcon",
			"comment": "Data management and processing platform",
			"versions": ["0.10.0"]
		}, {
			"name": "RANGER_KMS",
			"display_name": "Ranger KMS",
			"comment": "Key Management Server",
			"versions": ["0.7.0"]
		}, {
			"name": "SPARK",
			"display_name": "Spark",
			"comment": "Apache Spark is a fast and general engine for large-scale data processing.",
			"versions": ["1.6.3"]
		}, {
			"name": "DRUID",
			"display_name": "Druid",
			"comment": "A fast column-oriented distributed data store.",
			"versions": ["0.10.1"]
		}, {
			"name": "SLIDER",
			"display_name": "Slider",
			"comment": "A framework for deploying, managing and monitoring existing distributed applications on YARN.",
			"versions": ["0.92.0"]
		}, {
			"name": "PIG",
			"display_name": "Pig",
			"comment": "Scripting platform for analyzing large datasets",
			"versions": ["0.16.0"]
		}, {
			"name": "KERBEROS",
			"display_name": "Kerberos",
			"comment": "A computer network authentication protocol which works on\n        the basis of 'tickets' to allow nodes communicating over a\n        non-secure network to prove their identity to one another in a\n        secure manner.\n      ",
			"versions": ["1.10.3-10"]
		}, {
			"name": "YARN",
			"display_name": "YARN",
			"comment": "Apache Hadoop NextGen MapReduce (YARN)",
			"versions": ["2.7.3"]
		}, {
			"name": "TEZ",
			"display_name": "Tez",
			"comment": "Tez is the next generation Hadoop Query Processing framework written on top of YARN.",
			"versions": ["0.7.0"]
		}, {
			"name": "AMBARI_METRICS",
			"display_name": "Ambari Metrics",
			"comment": "A system for metrics collection that provides storage and retrieval capability for metrics collected from the cluster\n      ",
			"versions": ["0.1.0"]
		}, {
			"name": "HIVE",
			"display_name": "Hive",
			"comment": "Data warehouse system for ad-hoc queries & analysis of large datasets and table & storage management service",
			"versions": ["1.2.1000"]
		}, {
			"name": "AMBARI_INFRA",
			"display_name": "Ambari Infra",
			"comment": "Core shared service used by Ambari managed components.",
			"versions": ["0.1.0"]
		}],
		"stack_version": "2.6",
		"type": "STANDARD",
		"release": {
			"build": "292",
			"compatible_with": "2\\.[3-6]\\.\\d+\\.\\d+",
			"notes": "http://example.com",
			"version": "2.6.5.0"
		}
	},
	"operating_systems": [{
		"href": "{{ ambari_server_protocol }}://{{ ambari_server_hostname }}:{{ ambari_server_port }}/api/v1/stacks/HDP/versions/2.6/repository_versions/1/operating_systems/redhat7",
		"OperatingSystems": {
			"ambari_managed_repositories": false,
			"os_type": "redhat7",
			"repository_version_id": 1,
			"stack_name": "HDP",
			"stack_version": "2.6"
		},
		"repositories": [ 
			{
			"href": "{{ ambari_server_protocol }}://{{ ambari_server_hostname }}:{{ ambari_server_port }}/api/v1/stacks/HDP/versions/2.6/repository_versions/1/operating_systems/redhat7/repositories/{{hdp_repo_id}}",
			"Repositories": {
				"applicable_services": [],
				"base_url": "http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.6.5.0",
				"components": null,
				"default_base_url": "",
				"distribution": null,
				"latest_base_url": "",
				"mirrors_list": "",
				"os_type": "redhat7",
				"repo_id": "{{hdp_repo_id}}",
				"repo_name": "{{hdp_repo_id}}",
				"repository_version_id": 1,
				"stack_name": "HDP",
				"stack_version": "2.6",
				"tags": [],
				"unique": false,
				"initial_base_url": "http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.6.5.0"
			},
			"hasError": false
		}
		{% if hdp_gpl_repo_id is defined %}
		, {
			"href": "{{ ambari_server_protocol }}://{{ ambari_server_hostname }}:{{ ambari_server_port }}/api/v1/stacks/HDP/versions/2.6/repository_versions/1/operating_systems/redhat7/repositories/{{hdp_gpl_repo_id}}L",
			"Repositories": {
				"applicable_services": [],
				"base_url": "http://10.10.10.1:10080/centos7/hdp_2.6.5.0/HDP-GPL/centos6/2.x/updates/2.6.5.0",
				"components": null,
				"default_base_url": "",
				"distribution": null,
				"latest_base_url": "",
				"mirrors_list": "",
				"os_type": "redhat7",
				"repo_id": "{{hdp_gpl_repo_id}}L",
				"repo_name": "{{hdp_gpl_repo_id}}",
				"repository_version_id": 1,
				"stack_name": "HDP",
				"stack_version": "2.6",
				"tags": ["GPL"],
				"unique": false,
				"initial_base_url": "http://10.10.10.1:10080/centos7/hdp_2.6.5.0/HDP-GPL/centos6/2.x/updates/2.6.5.0"
			},
			"hasError": false
		}
		{% endif %}
		{% if hdp_utils_repo_id is defined %}
		, {
			"href": "{{ ambari_server_protocol }}://{{ ambari_server_hostname }}:{{ ambari_server_port }}/api/v1/stacks/HDP/versions/2.6/repository_versions/1/operating_systems/redhat7/repositories/{{hdp_utils_repo_id}}",
			"Repositories": {
				"applicable_services": [],
				"base_url": "http://public-repo-1.hortonworks.com/HDP-UTILS-GPL-1.1.0.22/repos/centos7",
				"components": null,
				"default_base_url": "",
				"distribution": null,
				"latest_base_url": "",
				"mirrors_list": "",
				"os_type": "redhat7",
				"repo_id": "{{hdp_utils_repo_id}}",
				"repo_name": "{{hdp_utils_repo_id}}",
				"repository_version_id": 1,
				"stack_name": "HDP",
				"stack_version": "2.6",
				"tags": [],
				"unique": false,
				"initial_base_url": "http://public-repo-1.hortonworks.com/HDP-UTILS-GPL-1.1.0.22/repos/centos7"
			},
			"hasError": false
		}
		{% endif %}
		{% if hdp_utils_gpl_repo_id is defined %}, {
			"href": "{{ ambari_server_protocol }}://{{ ambari_server_hostname }}:{{ ambari_server_port }}/api/v1/stacks/HDP/versions/2.6/repository_versions/1/operating_systems/redhat7/repositories/{{hdp_utils_gpl_repo_id}}",
			"Repositories": {
				"applicable_services": [],
				"base_url": "http://public-repo-1.hortonworks.com/HDP-GPL/centos7/2.x/updates/2.6.5.0",
				"components": null,
				"default_base_url": "",
				"distribution": null,
				"latest_base_url": "",
				"mirrors_list": "",
				"os_type": "redhat7",
				"repo_id": "{{hdp_utils_gpl_repo_id}}",
				"repo_name": "{{hdp_utils_gpl_repo_id}}",
				"repository_version_id": 1,
				"stack_name": "HDP",
				"stack_version": "2.6",
				"tags": [],
				"unique": false,
				"initial_base_url": "http://public-repo-1.hortonworks.com/HDP-GPL/centos7/2.x/updates/2.6.5.0"
			},
			"hasError": false
		}
		{% endif %}
		],
		"selected": true
	}]
}