[HDP]
name=HDP
baseurl={{ repos_url }}
gpgcheck=1
gpgkey={{ repos_url }}/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1


[HDP-UTILS]
name=HDP-UTILS
baseurl={{ repos_url_utils }}
gpgcheck=1
gpgkey={{ repos_url }}/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
