{
	"Clusters": {
		"desired_configs": {
			"type": "ams-site",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": { {% raw %}
        "cluster.zookeeper.property.clientPort" : "{{cluster_zookeeper_clientPort}}",
        "cluster.zookeeper.quorum" : "{{cluster_zookeeper_quorum_hosts}}",
        "failover.strategy" : "round-robin",
        "phoenix.query.maxGlobalMemoryPercentage" : "25",
        "phoenix.spool.directory" : "/tmp",
        "timeline.metrics.aggregator.checkpoint.dir" : "/var/lib/ambari-metrics-collector/checkpoint",
        "timeline.metrics.aggregators.skip.blockcache.enabled" : "false",
        "timeline.metrics.cache.commit.interval" : "10",
        "timeline.metrics.cache.enabled" : "true",
        "timeline.metrics.cache.size" : "200",
        "timeline.metrics.cluster.aggregate.splitpoints" : "load_fifteen",
        "timeline.metrics.cluster.aggregation.sql.filters" : "sdisk\\_%,boottime",
        "timeline.metrics.cluster.aggregator.daily.checkpointCutOffMultiplier" : "2",
        "timeline.metrics.cluster.aggregator.daily.disabled" : "false",
        "timeline.metrics.cluster.aggregator.daily.interval" : "86400",
        "timeline.metrics.cluster.aggregator.daily.ttl" : "63072000",
        "timeline.metrics.cluster.aggregator.hourly.checkpointCutOffMultiplier" : "2",
        "timeline.metrics.cluster.aggregator.hourly.disabled" : "false",
        "timeline.metrics.cluster.aggregator.hourly.interval" : "3600",
        "timeline.metrics.cluster.aggregator.hourly.ttl" : "31536000",
        "timeline.metrics.cluster.aggregator.interpolation.enabled" : "true",
        "timeline.metrics.cluster.aggregator.minute.checkpointCutOffMultiplier" : "2",
        "timeline.metrics.cluster.aggregator.minute.disabled" : "false",
        "timeline.metrics.cluster.aggregator.minute.interval" : "300",
        "timeline.metrics.cluster.aggregator.minute.ttl" : "2592000",
        "timeline.metrics.cluster.aggregator.second.checkpointCutOffMultiplier" : "2",
        "timeline.metrics.cluster.aggregator.second.disabled" : "false",
        "timeline.metrics.cluster.aggregator.second.interval" : "120",
        "timeline.metrics.cluster.aggregator.second.timeslice.interval" : "30",
        "timeline.metrics.cluster.aggregator.second.ttl" : "259200",
        "timeline.metrics.daily.aggregator.minute.interval" : "86400",
        "timeline.metrics.downsampler.event.metric.patterns" : "topology\\.%",
        "timeline.metrics.downsampler.topn.function" : "max",
        "timeline.metrics.downsampler.topn.metric.patterns" : "dfs.NNTopUserOpCounts.windowMs=60000.op=__%.user=%,dfs.NNTopUserOpCounts.windowMs=300000.op=__%.user=%,dfs.NNTopUserOpCounts.windowMs=1500000.op=__%.user=%",
        "timeline.metrics.downsampler.topn.value" : "10",
        "timeline.metrics.hbase.compression.scheme" : "SNAPPY",
        "timeline.metrics.hbase.data.block.encoding" : "FAST_DIFF",
        "timeline.metrics.hbase.init.check.enabled" : "true",
        "timeline.metrics.host.aggregate.splitpoints" : "load_fifteen",
        "timeline.metrics.host.aggregator.daily.checkpointCutOffMultiplier" : "2",
        "timeline.metrics.host.aggregator.daily.disabled" : "false",
        "timeline.metrics.host.aggregator.daily.ttl" : "31536000",
        "timeline.metrics.host.aggregator.hourly.checkpointCutOffMultiplier" : "2",
        "timeline.metrics.host.aggregator.hourly.disabled" : "false",
        "timeline.metrics.host.aggregator.hourly.interval" : "3600",
        "timeline.metrics.host.aggregator.hourly.ttl" : "2592000",
        "timeline.metrics.host.aggregator.minute.checkpointCutOffMultiplier" : "2",
        "timeline.metrics.host.aggregator.minute.disabled" : "false",
        "timeline.metrics.host.aggregator.minute.interval" : "300",
        "timeline.metrics.host.aggregator.minute.ttl" : "604800",
        "timeline.metrics.host.aggregator.ttl" : "86400",
        "timeline.metrics.service.checkpointDelay" : "60",
        "timeline.metrics.service.cluster.aggregator.appIds" : "datanode,nodemanager,hbase",
        "timeline.metrics.service.default.result.limit" : "15840",
        "timeline.metrics.service.handler.thread.count" : "20",
        "timeline.metrics.service.http.policy" : "HTTP_ONLY",
        "timeline.metrics.service.metadata.filters" : "ContainerResource",
        "timeline.metrics.service.operation.mode" : "embedded",
        "timeline.metrics.service.resultset.fetchSize" : "2000",
        "timeline.metrics.service.rpc.address" : "0.0.0.0:60200",
        "timeline.metrics.service.use.groupBy.aggregators" : "true",
        "timeline.metrics.service.watcher.delay" : "30",
        "timeline.metrics.service.watcher.disabled" : "false",
        "timeline.metrics.service.watcher.initial.delay" : "600",
        "timeline.metrics.service.watcher.timeout" : "30",
        "timeline.metrics.service.webapp.address" : "0.0.0.0:6188",
        "timeline.metrics.sink.collection.period" : "10",{% endraw %}
        {% if ambari_stack_name == 'ODP' or ambari_stack_version >= 3.0 %}
        "timeline.metrics.host.inmemory.aggregation" : "false",
        "timeline.metrics.host.inmemory.aggregation.http.policy" : "HTTP_ONLY",
        "timeline.metrics.host.inmemory.aggregation.port" : "61888",
        "timeline.metrics.transient.metric.patterns" : "topology\\.%",	
        "timeline.metrics.whitelisting.enabled" : "false",
        {% endif %}
        "timeline.metrics.sink.report.interval" : "60"
      }
    }
  }
}
