{
	"Clusters": {
		"desired_configs": {
			"type": "atlas-env",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
			  "atlas.admin.password": "{{ atlas_admin_password | default('test12345678') }}",
			  "content": "{{ atlasenvcontent | default('') }}",
			  "atlas.admin.username": "admin",
			  "atlas.hbase.conf.dir": "/etc/hbase/conf",
			  "atlas_server_max_new_size": "614",
			  "atlas_server_metadata_size": "50000",
			  "atlas_server_xmx": "2048",
			  "atlas_solr_replication_factor": "1",
			  "atlas_solr_shards": "1",
			  "metadata_classpath": " ",
			  "metadata_conf_file": "atlas-application.properties",
			  "metadata_data_dir": "/var/lib/atlas/data",
			  "metadata_expanded_war_dir": "./server/webapp",
			  "metadata_log_dir": "/var/log/atlas",
			  "metadata_opts": "-Dlog4j.configuration=atlas-log4j.xml",
			  "metadata_pid_dir": "/var/run/atlas",
			  "atlas.kafka.client.log.level": "INFO",
			  "metadata_user": "atlas"

			}
    }
  }
}
