{% raw %}{"Clusters":{"desired_configs":{"type":"cluster-env","tag":"INITIAL","properties":{
  "agent_mounts_ignore_list" : "",
  "alerts_repeat_tolerance" : "1",
  "command_retry_enabled" : "true",
  "command_retry_max_time_in_sec" : "600",
  "commands_to_retry" : "INSTALL,START",
  "enable_external_ranger" : "false",
  "fetch_nonlocal_groups" : "true",
  "hide_yarn_memory_widget" : "false",
  "ignore_bad_mounts" : "false",
  "kerberos_domain" : "EXAMPLE.COM",
  "manage_dirs_on_root" : "true",
  "managed_hdfs_resource_property_names" : "",
  "namenode_rolling_restart_safemode_exit_timeout" : "3600",
  "namenode_rolling_restart_timeout" : "4200",
  "one_dir_per_partition" : "false",
  "override_uid" : "true",
  "recovery_enabled" : "true",
  "recovery_lifetime_max_count" : "1024",
  "recovery_max_count" : "6",
  "recovery_retry_interval" : "5",
  "recovery_type" : "AUTO_START",
  "recovery_window_in_minutes" : "60",
  "repo_suse_rhel_template" : "[{{repo_id}}]\nname={{repo_id}}\n{% if mirror_list %}mirrorlist={{mirror_list}}{% else %}baseurl={{base_url}}{% endif %}\n\npath=/\nenabled=1\ngpgcheck=0",
  "repo_ubuntu_template" : "{{package_type}} {{base_url}} {{components}}",
  "security_enabled" : "false",
  "smokeuser" : "ambari-qa",
  "smokeuser_keytab" : "/etc/security/keytabs/smokeuser.headless.keytab",
  {% endraw %}
  "stack_features" : {{ getstackfeatures.json.StackLevelConfigurations.property_value | to_json }},
  "stack_packages" : {{ getstackpackages.json.StackLevelConfigurations.property_value | to_json }},
  "stack_root" : "{\"{{ ambari_stack_name }}\":\"/usr/{{ ambari_stack_name | lower }}\"}",
  "stack_name" : "{{ ambari_stack_name }}",
  "stack_tools" : {{ getclusterenvcontent.json.StackLevelConfigurations.property_value | to_json }},
  "sysprep_skip_copy_fast_jar_hdfs" : "false",
  "sysprep_skip_copy_oozie_share_lib_to_hdfs" : "false",
  "sysprep_skip_copy_tarballs_hdfs" : "false",
  "sysprep_skip_hive_schema_create" : "false",
  "sysprep_skip_lzo_package_operations" : "false",
  "sysprep_skip_oozie_schema_create" : "false",
  "sysprep_skip_create_users_and_groups" : "{{ ignore_create_users_and_groups | default('false') | lower }}",
  "ignore_groupsusers_create" : "{{ ignore_create_users_and_groups | default('false') | lower }}",
  "sysprep_skip_setup_jce" : "false",
  "dfs_ha_initial_namenode_active": "{{ all['NAMENODE'][0] }}",
  "dfs_ha_initial_namenode_standby": "{{ all['NAMENODE'][1] }}",
  "user_group" : "hadoop"
      }
    }
  }
}
