{
	"Clusters": {
		"desired_configs": {
			"type": "global",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
				"hive_lib": "/usr/lib/hive/lib/",
				"hadoop_heapsize": "1024",
				"hive_log_dir": "/var/log/hive",
				"dfs_datanode_http_address": "50075",
				"zk_user": "zookeeper",
				"dfs_data_dir": "/grid/0/hadoop/hdfs/data,/grid/1/hadoop/hdfs/data",
				"clientPort": "2181",
				"hdfs_user": "hdfs",
				"hive_dbroot": "/usr/lib/hive/lib",
				"dfs_name_dir": "/grid/0/hadoop/hdfs/namenode,/grid/1/hadoop/hdfs/namenode",
				"hfile_blockcache_size": "0.25",
				"kadmin_pw": "",
				"gmond_user": "nobody",
				"hregion_majorcompaction": "86400000",
				"user_group": "hadoop",
				"dfs_datanode_failed_volume_tolerated": "0",
				"zk_pid_file": "/var/run/zookeeper/zookeeper_server.pid",
				"zookeeper_sessiontimeout": "60000",
				"hcat_user": "hcat",
				"zk_log_dir": "/var/log/zookeeper",
				"oozie_derby_database": "Derby",
				"hbase_conf_dir": "/etc/hbase",
				"oozie_data_dir": "/grid/0/hadoop/oozie/data",
				"dfs_replication": "3",
				"fs_checkpoint_period": "21600",
				"hive_database_type": "{% if database_type | lower == "postgresql" %}}postgres{% else %}mysql{% endif %}",
				"hbase_hdfs_root_dir": "/apps/hbase/data",
				"run_dir": "/var/run/hadoop",
				"oozie_log_dir": "/var/log/oozie",
				"hbase_pid_dir": "/var/run/hbase",
				"hive_user": "hive",
				"security_enabled": "false",
				"dfs_datanode_address": "50010",
				"dfs_block_local_path_access_user": "hbase",
				"dfs_datanode_data_dir_perm": "750",
				"dtnode_heapsize": "1024m",
				"tickTime": "2000",
				"oozie_database": "New Derby Database",
				"regionserver_memstore_upperlimit": "0.4",
				"datanode_du_reserved": "1",
				"hbase_tmp_dir": "/var/log/hbase",
				"java64_home": "/usr/jdk/jdk1.6.0_31",
				"oozie_user": "oozie",
				"hive_metastore_port": "9083",
				"namenode_heapsize": "1024m",
				"oozie_JPAService_url": "${oozie.data.dir}/${oozie.db.schema.name}-db;create\u003dtrue",
				"hive_ambari_database": "{% if database_type | lower == "postgresql" %}}PostgreSQL{% else %}MySQL{% endif %}",
				"oozie_jdbc_driver": "org.apache.derby.jdbc.EmbeddedDriver",
				"zk_data_dir": "/grid/0/hadoop/zookeeper",
				"hive_pid_dir": "/var/run/hive",
				"mysql_connector_url": "${download_url}/mysql-connector-java-5.1.18.zip",
				"hregion_blockmultiplier": "2",
				"oozie_pid_dir": "/var/run/oozie",
				"gmetad_user": "nobody",
				"oozie_metastore_user_name": "oozie",
				"hive_metastore_user_passwd": "admin",
				"hcat_log_dir": "/var/log/webhcat",
				"hive_hostname": "HOST",
				"syncLimit": "5",
				"mapred_user": "mapred",
				"fs_checkpoint_size": "0.5",
				"initLimit": "10",
				"hive_database": "{% if database_type | lower == "postgresql" %}}Existing PostgreSQL Database{% else %}New MySQL Database{% endif %}",
				"hive_jdbc_driver": "{% if database_type | lower == "postgresql" %}}org.postgresql.Driver{% else %}com.mysql.jdbc.Driver{% endif %}",
				"hive_conf_dir": "/etc/hive/conf",
				"hdfs_log_dir_prefix": "/var/log/hadoop",
				"keytab_path": "/etc/security/keytabs",
				"proxyuser_group": "users",
				"hive_database_name": "hive",
				"client_scannercaching": "100",
				"hcat_pid_dir": "/var/run/webhcat",
				"hdfs_enable_shortcircuit_read": "true",
				"kerberos_domain": "EXAMPLE.COM",
				"hdfs_support_append": "true",
				"oozie_database_type": "derby",
				"namenode_formatted_mark_dir": "/var/run/hadoop/hdfs/namenode/formatted/",
				"dfs_exclude": "dfs.exclude",
				"namenode_opt_maxnewsize": "640m",
				"oozie_database_name": "oozie",
				"regionserver_memstore_lab": "true",
				"namenode_opt_newsize": "200m",
				"namenode_opt_permsize": "128m",
				"namenode_opt_maxpermsize": "256m",
				"smokeuser": "ambari-qa",
				"hcat_conf_dir": "",
				"regionserver_memstore_lowerlimit": "0.35",
				"apache_artifacts_download_url": "",
				"hive_metastore_user_name": "hive",
				"hstore_blockingstorefiles": "7",
				"hadoop_conf_dir": "/etc/hadoop",
				"oozie_metastore_user_passwd": "admin",
				"hbase_user": "hbase",
				"ganglia_runtime_dir": "/var/run/ganglia/hdp",
				"fs_checkpoint_dir": "/grid/0/hadoop/hdfs/namesecondary",
				"zk_pid_dir": "/var/run/zookeeper",
				"hfile_max_keyvalue_size": "10485760",
				"hive_aux_jars_path": "/usr/lib/hcatalog/share/hcatalog/hcatalog-core.jar",
				"hstore_compactionthreshold": "3",
				"hregion_memstoreflushsize": "134217728",
				"hadoop_pid_dir_prefix": "/var/run/hadoop",
				"hbase_log_dir": "/var/log/hbase",
				"webhcat_user": "hcat",
				"regionserver_handlers": "30",
				"hbase_regionserver_heapsize": "1024m",
				"hbase_regionserver_xmn_max": "512",
				"hbase_regionserver_xmn_ratio": "0.2",
				"dfs_include": "dfs.include",
				"dfs_webhdfs_enabled": "true",
				"rrdcached_base_dir": "/var/lib/ganglia/rrds",
				"hstorefile_maxsize": "1073741824",
				"hbase_master_heapsize": "1024m"
			}
		}
	}
}