{
	"Clusters": {
		"desired_configs": {
			"type": "hbase-site",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
				{% if cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN.HBASE is defined and cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN.HBASE %}
				"hbase.coprocessor.master.classes" : "org.apache.ranger.authorization.hbase.RangerAuthorizationCoprocessor",
				"hbase.coprocessor.regionserver.classes" : "org.apache.ranger.authorization.hbase.RangerAuthorizationCoprocessor",
				"hbase.coprocessor.region.classes" : "org.apache.hadoop.hbase.security.token.TokenProvider,org.apache.hadoop.hbase.security.access.SecureBulkLoadEndpoint,org.apache.ranger.authorization.hbase.RangerAuthorizationCoprocessor",
				{% else %}
				"hbase.coprocessor.master.classes" : "",
				"hbase.coprocessor.regionserver.classes": "",
				"hbase.coprocessor.region.classes": "org.apache.hadoop.hbase.security.token.TokenProvider,org.apache.hadoop.hbase.security.access.SecureBulkLoadEndpoint",
				{% endif %}
				{% if cluster_services.PHOENIX is defined %}
				"phoenix.query.timeoutMs" : "60000",
				"phoenix.schema.mapSystemTablesToNamespace" : "true",
				"phoenix.schema.isNamespaceMappingEnabled" : "true",
				"phoenix.functions.allowUserDefinedFunctions" : "true",
				"phoenix.queryserver.keytab.file" : "/etc/security/keytabs/spnego.service.keytab",
				"phoenix.queryserver.kerberos.principal" : "HTTP/_HOST@EXAMPLE",
				"hbase.region.server.rpc.scheduler.factory.class" : "org.apache.hadoop.hbase.ipc.PhoenixRpcSchedulerFactory",
				"hbase.regionserver.wal.codec" : "org.apache.hadoop.hbase.regionserver.wal.IndexedWALEditCodec",
				{% else %}
				"hbase.region.server.rpc.scheduler.factory.class": "",
				{% endif %}
				{% if cluster_services.HBASE.SSL is defined %}
				"hbase.ssl.enabled" : "true",
				{% else %}
				"hbase.ssl.enabled" : "false",
				{% endif %}
				"hbase.hregion.majorcompaction" : "604800000",
				"hbase.hstore.compactionThreshold" : "3",
				"hbase.security.authentication" : "simple",
				"hfile.block.cache.size" : "0.25",
				"hbase.table.sanity.checks" : "true",
				"hbase.master.port" : "16000",
				"hbase.security.authentication.spnego.kerberos.keytab" : "/etc/security/keytabs/spnego.service.keytab",
				"hbase.regionserver.keytab.file" : "/etc/security/keytabs/hbase.service.keytab",
				"hbase.regionserver.kerberos.principal" : "hbase/_HOST@EXAMPLE.COM",
				"hbase.master.keytab.file" : "/etc/security/keytabs/hbase.service.keytab",
				"hbase.security.authorization" : "true",
				"hbase.security.authentication.spnego.kerberos.principal" : "HTTP/_HOST@EXAMPLE.COM",
				"hbase.master.kerberos.principal" : "hbase/_HOST@EXAMPLE.COM",
				"hbase.regionserver.replication.handler.count" : "20",
				"hbase.client.primaryCallTimeout.get" : "10000",
				"hbase.master.info.port" : "16010",
				"hbase.ipc.client.specificThreadForWriting" : "true",
				"hbase.client.retries.number" : "35",
				"hbase.quota.enabled" : "true",
				"hbase.hstore.compaction.max" : "10",
				"hbase.zookeeper.quorum" : "{% for host in zookeeper_quorum %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}",
				"hbase.regionserver.info.port" : "60030",
				"replication.source.ratio" : "0.25",
				"zookeeper.znode.parent" : "/hbase-unsecure",
				{% if cluster_services.HDFS.HA is defined and cluster_services.HDFS.HA %}"hbase.rootdir" : "hdfs://{{ cluster_name }}/apps/hbase/data",{% else %}"hbase.rootdir" :  "/apps/hbase/data",{% endif %}
				"hbase.cluster.distributed" : "true",
				"hbase.master.hfilecleaner.ttl" : "3600000",
				"hbase.client.primaryCallTimeout.multiget" : "10000",
				"hbase.regionserver.meta.storefile.refresh.period" : "30000",
				"hbase.meta.replica.count" : "3",
				"hbase.regionserver.storefile.refresh.period" : "30000",
				"hbase.bucketcache.percentage.in.combinedcache" : "1.0000",
				"hbase.hstore.compaction.max.size" : "204800",
				"hbase.regionserver.executor.openregion.threads" : "200",
				"hbase.offpeak.end.hour" : "6",
				"hbase.client.primaryCallTimeout.scan" : "1000000",
				"hbase.regionserver.maxlogs" : "256",
				"hbase.rpc.engine" : "org.apache.hadoop.hbase.ipc.SecureRpcEngine",
				"hbase.region.replica.replication.enabled" : "true",
				"hbase.hstore.blockingStoreFiles" : "90",
				"dfs.domain.socket.path" : "/var/lib/hadoop-hdfs/dn_socket",
				"zookeeper.session.timeout" : "30000",
				"hbase.master.info.bindAddress" : "0.0.0.0",
				"dfs.client.read.shortcircuit" : "true",
				"hbase.master.ui.readonly" : "true",
				"hbase.meta.replicas.use" : "true",
				"hbase.bucketcache.size" : "10240",
				"hbase.quota.refresh.period" : "300000",
				"hbase.hregion.memstore.flush.size" : "134217728",
				"hbase.ipc.client.tcpnodelay" : "true",
				"hbase.hregion.max.filesize" : "10737418240",
				"hbase.regionserver.global.memstore.size" : "0.4",
				"hbase.region.replica.storefile.refresh.memstore.multiplier" : "4",
				"hbase.region.replica.wait.for.primary.flush" : "true",
				"hbase.client.keyvalue.maxsize" : "1048576",
				"hbase.tmp.dir" : "/tmp",
				"replication.source.size.capacity" : "16777216",
				"hbase.master.namespace.init.timeout" : "2400000",
				"hbase.rpc.timeout" : "90000",
				"hbase.superuser" : "hbase",
				"hbase.regionserver.handler.count" : "120",
				"hbase.bulkload.staging.dir" : "/apps/hbase/staging",
				"hbase.regionserver.port" : "60020",
				"hbase.zookeeper.property.clientPort" : "2181",
				"hbase.zookeeper.property.admin.serverPort" : "8081",
				"hbase.ipc.server.tcpnodelay" : "true",
				"hbase.defaults.for.version.skip" : "true",
				"hbase.hregion.memstore.block.multiplier" : "4",
				"hbase.bucketcache.ioengine" : ""
      }
    }
  }
}
