{
	"Clusters": {
		"desired_configs": {
			"type": "hive-interactive-site",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": { {% raw %}
        "dfs.client.mmap.enabled" : "false",
        "dfs.short.circuit.shared.memory.watcher.interrupt.check.ms" : "0",
        "hive.auto.convert.join.noconditionaltask.size" : "1000000000",
        "hive.driver.parallel.compilation" : "true",
        "hive.druid.basePersistDirectory" : "",
        "hive.druid.bitmap.type" : "roaring",
        "hive.druid.broker.address.default" : "localhost:8082",
        "hive.druid.coordinator.address.default" : "localhost:8082",
        "hive.druid.http.read.timeout" : "PT10M",
        "hive.druid.indexer.memory.rownum.max" : "75000",
        "hive.druid.indexer.partition.size.max" : "1000000",
        "hive.druid.indexer.segments.granularity" : "DAY",
        "hive.druid.maxTries" : "5",
        "hive.druid.metadata.db.type" : "mysql",
        "hive.druid.metadata.password" : "changeit",
        "hive.druid.metadata.uri" : "jdbc:mysql://localhost:3355/druid",
        "hive.druid.metadata.username" : "druid",
        "hive.druid.passiveWaitTimeMs" : "30000",
        "hive.druid.select.distribute" : "true",
        "hive.druid.storage.storageDirectory" : "{{druid_storage_dir}}",
        "hive.druid.working.directory" : "/tmp/druid-indexing",
        "hive.exec.orc.split.strategy" : "HYBRID",
        "hive.execution.engine" : "tez",
        "hive.execution.mode" : "llap",
        "hive.llap.auto.allow.uber" : "false",
        "hive.llap.client.consistent.splits" : "true",
        "hive.llap.daemon.am.liveness.heartbeat.interval.ms" : "10000ms",
        "hive.llap.daemon.logger" : "query-routing",
        "hive.llap.daemon.num.executors" : "1",
        "hive.llap.daemon.queue.name" : "default",
        "hive.llap.daemon.rpc.port" : "0",
        "hive.llap.daemon.service.hosts" : "@llap0",
        "hive.llap.daemon.task.scheduler.enable.preemption" : "true",
        "hive.llap.daemon.vcpus.per.instance" : "${hive.llap.daemon.num.executors}",
        "hive.llap.daemon.yarn.container.mb" : "0",
        "hive.llap.daemon.yarn.shuffle.port" : "15551",
        "hive.llap.enable.grace.join.in.llap" : "false",
        "hive.llap.execution.mode" : "only",
        "hive.llap.io.enabled" : "true",
        "hive.llap.io.memory.mode" : "",
        "hive.llap.io.memory.size" : "0",
        "hive.llap.io.threadpool.size" : "2",
        "hive.llap.io.use.lrfu" : "true",
        "hive.llap.management.rpc.port" : "15004",
        "hive.llap.object.cache.enabled" : "true",
        "hive.llap.task.scheduler.locality.delay" : "-1",
        "hive.llap.zk.sm.connectionString" : "localhost:2181",
        "hive.map.aggr.hash.min.reduction" : "0.99",
        "hive.mapjoin.hybridgrace.hashtable" : "false",
        "hive.merge.nway.joins" : "false",
        "hive.metastore.event.listeners" : "",{% endraw %}
        "hive.metastore.uris" : "thrift://{{ all['HIVE_METASTORE'][0] }}:9083",{% raw %}
        "hive.optimize.dynamic.partition.hashjoin" : "true",
        "hive.prewarm.enabled" : "false",
        "hive.server2.enable.doAs" : "false",
        "hive.server2.tez.default.queues" : "default",
        "hive.server2.tez.initialize.default.sessions" : "true",
        "hive.server2.tez.sessions.custom.queue.allowed" : "ignore",
        "hive.server2.tez.sessions.per.default.queue" : "1",
        "hive.server2.tez.sessions.restricted.configs" : "hive.execution.mode,hive.execution.engine",
        "hive.server2.thrift.http.port" : "10501",
        "hive.server2.thrift.port" : "10500",
        "hive.server2.webui.port" : "10502",
        "hive.server2.webui.use.ssl" : "false",
        "hive.server2.zookeeper.namespace" : "hiveserver2-hive2",
        "hive.tez.bucket.pruning" : "true",
        "hive.tez.cartesian-product.enabled" : "true",
        "hive.tez.container.size" : "682",
        "hive.tez.exec.print.summary" : "true",
        "hive.tez.input.generate.consistent.splits" : "true",
        "hive.vectorized.execution.mapjoin.minmax.enabled" : "true",
        "hive.vectorized.execution.mapjoin.native.enabled" : "true",
        "hive.vectorized.execution.mapjoin.native.fast.hashtable.enabled" : "true",
        "hive.vectorized.execution.reduce.enabled" : "true",
        "hive.vectorized.groupby.maxentries" : "1000000",
        "llap.shuffle.connection-keep-alive.enable" : "true",
        "llap.shuffle.connection-keep-alive.timeout" : "60"
      }{% endraw %}
    }
  }
}
