{
	"Clusters": {
		"desired_configs": {
			"type": "knox-env",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
				"knox_master_secret": "{{ knox_master_password | default('test12345678') }}",
				"knox_user" : "knox",
				"knox_group" : "knox",
				"knox_keytab_path" : "/etc/security/keytabs/knox.service.keytab",
				"knox_logs_dir" : "/var/log/knox",
				"knox_pid_dir" : "/var/run/knox"

			}
		}
	}
}
