{
	"Clusters": {
		"desired_configs": {
			"type": "nifi-registry-ambari-config",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": { {% raw %}
        "nifi.registry.config.dir" : "{nifi_registry_install_dir}/conf",
        "nifi.registry.database.dir" : "{nifi_registry_internal_dir}/database",
        "nifi.registry.initial_mem" : "512m",
        "nifi.registry.internal.config.dir" : "{nifi_registry_internal_dir}/conf",
        "nifi.registry.internal.dir" : "/var/lib/nifi-registry",
        "nifi.registry.max_mem" : "512m",
        "nifi.registry.port" : "61080",
        "nifi.registry.port.ssl" : "61443",
        "nifi.registry.security.encrypt.configuration.password" : "test12345678"
      }{% endraw %}
    }
  }
}
