{
	"Clusters": {
		"desired_configs": {
			"type": "nifi-properties",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": { {%raw %}
				"nifi.analytics.predict.enabled" : "false",
				"nifi.analytics.predict.interval" : "3 mins",
				"nifi.analytics.query.interval" : "5 mins",
				"nifi.analytics.connection.model.implementation" : "org.apache.nifi.controller.status.analytics.models.OrdinaryLeastSquares",
				"nifi.analytics.connection.model.score.name" : "rSquared",
				"nifi.analytics.connection.model.score.threshold" : ".90",
        "nifi.administrative.yield.duration" : "30 sec",
        "nifi.authorizer.configuration.file" : "{{nifi_config_dir}}/authorizers.xml",
        "nifi.bored.yield.duration" : "10 millis",
        "nifi.cluster.flow.election.max.candidates" : "{{nifi_num_nodes}}",
        "nifi.cluster.flow.election.max.wait.time" : "5 mins",
        "nifi.cluster.is.node" : "{{nifi_is_node}}",
				"nifi.cluster.load.balance.comms.timeout" : "30 sec",
				"nifi.cluster.load.balance.connections.per.node" : "1",
				"nifi.cluster.load.balance.host" : "",
				"nifi.cluster.load.balance.max.thread.count" : "8",
				"nifi.cluster.load.balance.port" : "6342",
        "nifi.cluster.node.address" : "{{nifi_node_host}}",
        "nifi.cluster.node.connection.timeout" : "5 sec",
        "nifi.cluster.node.event.history.size" : "25",
				"nifi.cluster.node.max.concurrent.requests" : "100",
        "nifi.cluster.node.protocol.port" : "{{nifi_node_protocol_port}}",
        "nifi.cluster.node.protocol.threads" : "50",
        "nifi.cluster.node.read.timeout" : "5 sec",
        "nifi.cluster.protocol.heartbeat.interval" : "5 sec",
				"nifi.cluster.protocol.heartbeat.missable.max" : "8",
        "nifi.components.status.repository.buffer.size" : "1440",
        "nifi.components.status.repository.implementation" : "org.apache.nifi.controller.status.history.VolatileComponentStatusRepository",
        "nifi.components.status.snapshot.frequency" : "1 min",
        "nifi.content.claim.max.appendable.size" : "1 MB",
        "nifi.content.claim.max.flow.files" : "100",
        "nifi.content.repository.always.sync" : "false",
        "nifi.content.repository.archive.enabled" : "true",
        "nifi.content.repository.archive.max.retention.period" : "7 days",
        "nifi.content.repository.archive.max.usage.percentage" : "50%",
        "nifi.content.repository.directory.default" : "{{nifi_content_repo_dir_default}}",
        "nifi.content.repository.implementation" : "org.apache.nifi.controller.repository.FileSystemRepository",
        "nifi.content.viewer.url" : "../nifi-content-viewer/",
        "nifi.database.directory" : "{{nifi_database_dir}}",
        "nifi.documentation.working.directory" : "{{nifi_internal_dir}}/work/docs/components",
        "nifi.flow.configuration.archive.dir" : "{{nifi_internal_dir}}/archive/",
        "nifi.flow.configuration.archive.enabled" : "true",
        "nifi.flow.configuration.archive.max.storage" : "500 MB",
        "nifi.flow.configuration.archive.max.time" : "30 days",
        "nifi.flow.configuration.file" : "{{nifi_flow_config_dir}}/flow.xml.gz",
        "nifi.flowcontroller.autoResumeState" : "true",
        "nifi.flowcontroller.graceful.shutdown.period" : "10 sec",
        "nifi.flowfile.repository.always.sync" : "false",
        "nifi.flowfile.repository.checkpoint.interval" : "20 secs",
        "nifi.flowfile.repository.directory" : "{{nifi_flowfile_repo_dir}}",
        "nifi.flowfile.repository.implementation" : "org.apache.nifi.controller.repository.WriteAheadFlowFileRepository",
        "nifi.flowfile.repository.partitions" : "256",
				"nifi.flowfile.repository.retain.orphaned.flowfiles" : "true",
				"nifi.flowfile.repository.wal.implementation" : "org.apache.nifi.wali.SequentialAccessWriteAheadLog",
        "nifi.flowservice.writedelay.interval" : "500 ms",
        "nifi.h2.url.append" : ";LOCK_TIMEOUT=25000;WRITE_DELAY=0;AUTO_SERVER=FALSE",
        "nifi.kerberos.krb5.file" : "",
        "nifi.kerberos.service.keytab.location" : "",
        "nifi.kerberos.service.principal" : "",
        "nifi.kerberos.spnego.authentication.expiration" : "12 hours",
        "nifi.kerberos.spnego.keytab.location" : "",
        "nifi.kerberos.spnego.principal" : "",
        "nifi.login.identity.provider.configuration.file" : "{{nifi_config_dir}}/login-identity-providers.xml",
				"nifi.nar.library.autoload.directory" : "{{nifi_install_dir}}/extensions",
        "nifi.nar.library.directory" : "{{nifi_install_dir}}/lib",
        "nifi.nar.working.directory" : "{{nifi_internal_dir}}/work/nar",
        "nifi.provenance.repository.always.sync" : "false",
        "nifi.provenance.repository.buffer.size" : "100000",
        "nifi.provenance.repository.compress.on.rollover" : "true",
				"nifi.provenance.repository.concurrent.merge.threads" : "2",
        "nifi.provenance.repository.directory.default" : "{{nifi_provenance_repo_dir_default}}",
        "nifi.provenance.repository.implementation" : "org.apache.nifi.provenance.WriteAheadProvenanceRepository",
        "nifi.provenance.repository.index.shard.size" : "500 MB",
        "nifi.provenance.repository.index.threads" : "2",
        "nifi.provenance.repository.indexed.attributes" : "",
        "nifi.provenance.repository.indexed.fields" : "EventType, FlowFileUUID, Filename, ProcessorID, Relationship",
        "nifi.provenance.repository.journal.count" : "16",
        "nifi.provenance.repository.max.attribute.length" : "65536",
        "nifi.provenance.repository.max.storage.size" : "10 GB",
        "nifi.provenance.repository.max.storage.time" : "30 days",
        "nifi.provenance.repository.query.threads" : "2",
        "nifi.provenance.repository.rollover.size" : "100 MB",
        "nifi.provenance.repository.rollover.time" : "10 mins",
				"nifi.queue.backpressure.count" : "10000",
				"nifi.queue.backpressure.size": "1 GB",
        "nifi.queue.swap.threshold" : "20000",
				"nifi.remote.contents.cache.expiration" : "30 secs",
        "nifi.remote.input.host" : "",
        "nifi.remote.input.http.enabled" : "true",
        "nifi.remote.input.http.transaction.ttl" : "30 sec",
        "nifi.remote.input.socket.port" : "",
				"nifi.security.allow.anonymous.authentication" : "true",
        "nifi.security.identity.mapping.pattern.dn" : "",
        "nifi.security.identity.mapping.pattern.kerb" : "",
        "nifi.security.identity.mapping.value.dn" : "",
        "nifi.security.identity.mapping.value.kerb" : "",{% endraw %}
				{% if cluster_services.NIFI is defined and cluster_services.NIFI.SSL is defined and cluster_services.NIFI.SSL %}
        "nifi.cluster.protocol.is.secure" : "true",
        "nifi.remote.input.secure" : "true",
        "nifi.security.keyPasswd" : "{{ ssl_keystore_password }}",
        "nifi.security.keystore" : "{{ ssl_keystore_path }}",
        "nifi.security.keystorePasswd" : "{{ ssl_keystore_password }}",
        "nifi.security.keystoreType" : "JKS",
        "nifi.security.truststore" : "{{ ssl_truststore_path }}",
        "nifi.security.truststorePasswd" : "{{ ssl_truststore_password }}",
        "nifi.security.truststoreType" : "JKS",
        "nifi.web.https.port" : "9091",
        "nifi.web.http.port" : "",
				"nifi.web.https.host" : "0.0.0.0",
				{% else %}
        "nifi.cluster.protocol.is.secure" : "false",
        "nifi.remote.input.secure" : "false",
        "nifi.security.keyPasswd" : "",
        "nifi.security.keystore" : "",
        "nifi.security.keystorePasswd" : "",
        "nifi.security.keystoreType" : "",
        "nifi.security.truststore" : "",
        "nifi.security.truststorePasswd" : "",
        "nifi.security.truststoreType" : "",
        "nifi.web.https.port" : "",
        "nifi.web.http.port" : "9090",
        "nifi.web.https.host" : "{{nifi_node_ssl_host}}",
				{% endif %}{% raw %}
        "nifi.security.ocsp.responder.certificate" : "",
        "nifi.security.ocsp.responder.url" : "",{% endraw %}
				{% if cluster_services.RANGER is defined %}
        "nifi.security.user.authorizer" : "ranger-provider",
				{% else %}
        "nifi.security.user.authorizer" : "file-provider",
				{% endif %}{% raw %}
				"nifi.security.user.knox.cookieName" : "hadoop-jwt",
        "nifi.security.user.login.identity.provider" : "",
				"nifi.security.user.oidc.connect.timeout" : "5 secs",
				"nifi.security.user.oidc.read.timeout" : "5 secs",
        "nifi.sensitive.props.algorithm" : "PBEWITHMD5AND256BITAES-CBC-OPENSSL",
        "nifi.sensitive.props.key" : "{{nifi_sensitive_props_key}}",
        "nifi.sensitive.props.provider" : "BC",
        "nifi.state.management.configuration.file" : "{{nifi_config_dir}}/state-management.xml",
        "nifi.state.management.embedded.zookeeper.properties" : "{{nifi_config_dir}}/zookeeper.properties",
        "nifi.state.management.embedded.zookeeper.start" : "false",
        "nifi.state.management.provider.cluster" : "zk-provider",
        "nifi.state.management.provider.local" : "local-provider",
        "nifi.swap.in.period" : "5 sec",
        "nifi.swap.in.threads" : "1",
        "nifi.swap.manager.implementation" : "org.apache.nifi.controller.FileSystemSwapManager",
        "nifi.swap.out.period" : "5 sec",
        "nifi.swap.out.threads" : "4",
        "nifi.templates.directory" : "{{nifi_internal_dir}}/templates",
        "nifi.ui.autorefresh.interval" : "30 sec",
        "nifi.ui.banner.text" : "",
        "nifi.version" : "1.12.0.{{stack_version_buildnum}}",
        "nifi.web.http.host" : "{{nifi_node_nonssl_host}}",
        "nifi.web.jetty.threads" : "200",
        "nifi.web.jetty.working.directory" : "{{nifi_internal_dir}}/work/jetty",
				"nifi.web.max.header.size" : "16 KB",
				"nifi.web.max.requests.per.second" : "30000",
				"nifi.web.should.send.server.version" : "true",
        "nifi.web.war.directory" : "{{nifi_install_dir}}/lib",
        "nifi.zookeeper.connect.string" : "{{zookeeper_quorum}}",
        "nifi.zookeeper.connect.timeout" : "60 secs",
        "nifi.zookeeper.root.node" : "{{nifi_znode}}",
        "nifi.zookeeper.session.timeout" : "10 secs"
      } {% endraw %}
    }
  }
}
