{
	"Clusters": {
		"desired_configs": {
			"type": "ozone-core-site",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
        "hadoop.security.auth_to_local": "DEFAULT",
        "hadoop.security.authentication": "simple",
        "hadoop.security.authorization": "false"
      }
    }
  }
}