{
  "dfs.container.ratis.admin.port": "9857",
  "dfs.container.ratis.datanode.storage.dir": "/var/lib/hadoop-ozone/datanode/ratis/data",
  "dfs.container.ratis.server.port": "9856",
  "hdds.container.balancer.balancing.iteration.interval": "60m",
  "hdds.container.balancer.datanodes.involved.max.percentage.per.iteration": "20",
  "hdds.container.balancer.exclude.containers": " ",
  "hdds.container.balancer.exclude.datanodes": " ",
  "hdds.container.balancer.include.datanodes": " ",
  "hdds.container.balancer.iterations": "10",
  "hdds.container.balancer.move.timeout": "45m",
  "hdds.container.balancer.size.entering.target.max": "26gb",
  "hdds.container.balancer.size.leaving.source.max": "26gb",
  "hdds.container.balancer.size.moved.max.per.iteration": "500gb",
  "hdds.container.balancer.utilization.threshold": "10.0",
  "hdds.datanode.datanode.id.dir": "/var/lib/hadoop-ozone/datanode",
  "hdds.datanode.dir": "/data/hadoop-ozone/datanode/data",
  "hdds.datanode.http-address": "0.0.0.0:9882",
  "hdds.datanode.http-bind-host": "0.0.0.0",
  "hdds.datanode.http.auth.type": "simple",
  "hdds.datanode.https-address": "9883",
  "hdds.datanode.https-bind-host": "0.0.0.0",
  "hdds.grpc.tls.enabled": "true",
  "hdds.key.dir.name": "keys",
  "hdds.metadata.dir": "/var/lib/hadoop-ozone/hdds-metadata",
  "hdds.scm.http.auth.type": "simple",
  "hdds.x509.file.name": "certificate.crt",
  "net.topology.script.file.name": "/etc/hadoop/conf/ozone_topology_script.py",
  "ozone.acl.authorizer.class": null,
  "ozone.acl.enabled": "true",
  "ozone.administrators": "ozone,hdfs",
  "ozone.administrators.groups": "hadoop",
  "ozone.container.cache.lock.stripes": "256",
  "ozone.container.cache.size": "256",
  "ozone.fs.trash.checkpoint.interval": "60",
  "ozone.fs.trash.interval": "1440",
  "ozone.http.filter.initializers": " ",
  "ozone.http.header.Strict-Transport-Security": "max-age=63072000; includeSubDomains;",
  "ozone.metadata.dirs": "/var/lib/hadoop-ozone/services-metadata",
  "ozone.om.db.dirs": "/var/lib/hadoop-ozone/om/ozone-metadata",
  "ozone.om.http-address": "0.0.0.0:9874",
  "ozone.om.http-bind-host": "0.0.0.0",
  "ozone.om.http-port": "9874",
  "ozone.om.https-address": "0.0.0.0:9875",
  "ozone.om.https-bind-host": "0.0.0.0",
  "ozone.om.https-port": "9875",
  "ozone.om.multitenancy.enabled": "false",
  "ozone.om.multitenancy.ranger.sync.interval": "10m",
  "ozone.om.multitenancy.ranger.sync.timeout": "10m",
  "ozone.om.ranger.service": "ozone_ranger",
  "ozone.om.ratis-port": "9872",
  "ozone.om.ratis.enable": "0.0.0.0",
  "ozone.om.ratis.snapshot.dir": "/var/lib/hadoop-ozone/om-snapshots",
  "ozone.om.ratis.storage.dir": "/var/lib/hadoop-ozone/om/ratis",
  "ozone.om.service.ids": "",
  "ozone.recon.address": "0.0.0.0:9891",
  "ozone.recon.db.dir": "/var/lib/hadoop-ozone/recon/data",
  "ozone.recon.http-bind-host": "0.0.0.0",
  "ozone.recon.http-port": "9888",
  "ozone.recon.https-bind-host": "0.0.0.0",
  "ozone.recon.https-port": "9889",
  "ozone.recon.om.db.dir": "/var/lib/hadoop-ozone/recon/om/data",
  "ozone.recon.rpc-port": "9891",
  "ozone.recon.scm.db.dirs": "/var/lib/hadoop-ozone/recon/scm/data",
  "ozone.replication": "3",
  "ozone.s3g.http-address": "0.0.0.0:9878",
  "ozone.s3g.http-bind-host": "0.0.0.0",
  "ozone.s3g.http-port": "9878",
  "ozone.s3g.http.auth.type": "simple",
  "ozone.s3g.https-address": "0.0.0.0:9879",
  "ozone.s3g.https-bind-host": "0.0.0.0",
  "ozone.s3g.https-port": "9879",
  "ozone.scm.block.client.port": "9863",
  "ozone.scm.datanode.port": "9861",
  "ozone.scm.db.dirs": "/var/lib/hadoop-ozone/scm/data",
  "ozone.scm.grpc.port": "9895",
  "ozone.scm.ha.ratis.storage.dir": "/hadoop/ozone/scm/ratis",
  "ozone.scm.http-bind-host": "0.0.0.0",
  "ozone.scm.http-port": "9876",
  "ozone.scm.https-bind-host": "0.0.0.0",
  "ozone.scm.https-port": "9877",
  "ozone.scm.names": "",
  "ozone.scm.primordial.node.id": "",
  "ozone.scm.ratis.enable": "false",
  "ozone.scm.ratis.port": "9894",
  "ozone.scm.security.service.port": "9961",
  "ozone.scm.service.ids": "",
  "ozone.server.default.replication": "3",
  "zone.scm.skip.bootstrap.validation": ""
}