{"Clusters":{"desired_configs":{"type":"pig-env","tag":"{{ range(00000000, 99999999) | random }}","properties":{ {% raw %}
        "content" : "\nJAVA_HOME={{java64_home}}\nHADOOP_HOME=${HADOOP_HOME:-{{hadoop_home}}}\n\nif [ -d \"/usr/lib/tez\" ]; then\n  PIG_OPTS=\"$PIG_OPTS -Dmapreduce.framework.name=yarn\"\nfi\n    "
      }
    }
  }
}
{% endraw %}
