{
	"Clusters": {
		"desired_configs": {
			"type": "ranger-admin-site",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
				"ranger.externalurl": "http://{{ all['RANGER_ADMIN'][0] }}:6080",
				"ranger.jpa.jdbc.driver": {% if database_type == "mysql" %}"com.mysql.jdbc.Driver"{% elif database_type == "postgresql" %}"org.postgresql.Driver"{% endif %},
				"ranger.jpa.jdbc.url": "jdbc:{{ database_type }}://{{ database_server }}:{{ database_port }}/{{ database_ranger }}?createDatabaseIfNotExist=true",
        "ranger.jpa.jdbc.password" : "{{ database_ranger_user_password }}",
				"ranger.audit.source.type": "solr",
				{% if cluster_services.AMBARI_INFRA is defined or cluster_services.AMBARI_INFRA_SOLR is defined %}
				"ranger.audit.solr.zookeepers": "{% for host in zookeeper_quorum %}{{ host }}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
				{% else %}
        "ranger.audit.solr.zookeepers" : "NONE",
				{% endif %}
				{% if cluster_services.RANGER.SSL is defined and cluster_services.RANGER.SSL and cluster_services.RANGER.TWOWAY is not defined %}
				"ranger.service.http.enabled" : "false",
        "ranger.truststore.alias" : "{{ ranger_truststore_alias }}",
        "ranger.truststore.file" : "{{ ssl_truststore_path }}",
        "ranger.truststore.password" : "{{ ssl_truststore_password }}",
        "ranger.https.attrib.keystore.file" : "{{ ssl_keystore_path }}",
        "ranger.service.https.attrib.clientAuth" : "false",
        "ranger.service.https.attrib.keystore.credential.alias" : "{{ ranger_keystore_credential_alias }}",
        "ranger.service.https.attrib.keystore.keyalias" : "{{ ranger_keystore_keyalias }}",
        "ranger.service.https.attrib.keystore.pass" : "{{ ssl_keystore_password }}",
        "ranger.service.https.attrib.ssl.enabled" : "true",
				"ranger.service.https.attrib.keystore.file" : "{{ ssl_keystore_path }}",
				"ranger.service.https.attrib.keystore.pass" : "{{ ssl_keystore_password }}",
				"ranger.service.https.attrib.client.auth" : "false",
				{% elif cluster_services.RANGER.SSL is defined and cluster_services.RANGER.SSL and cluster_services.RANGER.TWOWAY is defined and cluster_services.RANGER.TWOWAY %}
				"ranger.service.http.enabled" : "false",
        "ranger.truststore.alias" : "{{ ranger_truststore_alias }}",
        "ranger.truststore.file" : "{{ ssl_truststore_path }}",
        "ranger.truststore.password" : "{{ ssl_truststore_password }}",
        "ranger.https.attrib.keystore.file" : "{{ ssl_keystore_path }}",
        "ranger.service.https.attrib.clientAuth" : "want",
        "ranger.service.https.attrib.keystore.credential.alias" : "{{ ranger_keystore_credential_alias }}",
        "ranger.service.https.attrib.keystore.keyalias" : "{{ ranger_keystore_keyalias }}",
        "ranger.service.https.attrib.keystore.pass" : "{{ ssl_keystore_password }}",
        "ranger.service.https.attrib.ssl.enabled" : "true",
				"ranger.service.https.attrib.keystore.file" : "{{ ssl_keystore_path }}",
				"ranger.service.https.attrib.keystore.pass" : "{{ ssl_keystore_password }}",
				"ranger.service.https.attrib.client.auth" : "want",
			  {% else %}
        "ranger.service.http.enabled" : "true",
        "ranger.truststore.alias" : "trustStoreAlias",
        "ranger.truststore.file" : "/etc/ranger/admin/conf/ranger-admin-keystore.jks",
        "ranger.truststore.password" : "xasecure",
        "ranger.https.attrib.keystore.file" : "/etc/ranger/admin/conf/ranger-admin-keystore.jks",
        "ranger.service.https.attrib.clientAuth" : "false",
				"ranger.service.https.attrib.client.auth" : "false",
        "ranger.service.https.attrib.keystore.credential.alias" : "keyStoreCredentialAlias",
        "ranger.service.https.attrib.keystore.keyalias" : "rangeradmin",
        "ranger.service.https.attrib.keystore.pass" : "xasecure",
        "ranger.service.https.attrib.ssl.enabled" : "false",
			  {% endif %}
				{% raw %}"ranger.admin.kerberos.cookie.domain" : "{{ranger_host}}",
        "ranger.jpa.jdbc.user" : "{{ranger_db_user}}",
        "ranger.admin.kerberos.cookie.path" : "/",
        "ranger.admin.kerberos.keytab" : "",
        "ranger.admin.kerberos.principal" : "",
        "ranger.admin.kerberos.token.valid.seconds" : "30",
        "ranger.audit.solr.password" : "password",
        "ranger.audit.solr.urls" : "",
        "ranger.audit.solr.username" : "ranger_solr",
        "ranger.audit.source.type" : "solr",
        "ranger.authentication.method" : "UNIX",
        "ranger.credential.provider.path" : "/etc/ranger/admin/rangeradmin.jceks",
        "ranger.is.solr.kerberised" : "{{ranger_is_solr_kerberised}}",
        "ranger.jpa.jdbc.credential.alias" : "rangeradmin",
        "ranger.jpa.jdbc.dialect" : "{{jdbc_dialect}}",
        "ranger.kms.service.user.hdfs" : "hdfs",
        "ranger.kms.service.user.hive" : "hive",
        "ranger.ldap.ad.base.dn" : "dc=example,dc=com",
        "ranger.ldap.ad.bind.dn" : "{{ranger_ug_ldap_bind_dn}}",
        "ranger.ldap.ad.bind.password" : "	secret123!",
        "ranger.ldap.ad.binddn.credential.alias" : "ranger.ldap.ad.bind.password",
        "ranger.ldap.ad.domain" : "",
        "ranger.ldap.ad.referral" : "ignore",
        "ranger.ldap.ad.url" : "{{ranger_ug_ldap_url}}",
        "ranger.ldap.ad.user.searchfilter" : "(sAMAccountName={0})",
        "ranger.ldap.base.dn" : "dc=example,dc=com",
        "ranger.ldap.bind.dn" : "{{ranger_ug_ldap_bind_dn}}",
        "ranger.ldap.bind.password" : "	secret123!",
        "ranger.ldap.binddn.credential.alias" : "ranger.ldap.bind.password",
        "ranger.ldap.group.roleattribute" : "cn",
        "ranger.ldap.group.searchbase" : "{{ranger_ug_ldap_group_searchbase}}",
        "ranger.ldap.group.searchfilter" : "{{ranger_ug_ldap_group_searchfilter}}",
        "ranger.ldap.referral" : "ignore",
        "ranger.ldap.url" : "{{ranger_ug_ldap_url}}",
        "ranger.ldap.user.dnpattern" : "uid={0},ou=users,dc=xasecure,dc=net",
        "ranger.ldap.user.searchfilter" : "(uid={0})",
        "ranger.lookup.kerberos.keytab" : "",
        "ranger.lookup.kerberos.principal" : "",
        "ranger.plugins.atlas.serviceuser" : "atlas",
        "ranger.plugins.hbase.serviceuser" : "hbase",
        "ranger.plugins.hdfs.serviceuser" : "hdfs",
        "ranger.plugins.hive.serviceuser" : "hive",
        "ranger.plugins.kafka.serviceuser" : "kafka",
        "ranger.plugins.kms.serviceuser" : "kms",
        "ranger.plugins.knox.serviceuser" : "knox",
        "ranger.plugins.storm.serviceuser" : "storm",
        "ranger.plugins.yarn.serviceuser" : "yarn",
        "ranger.service.host" : "{{ranger_host}}",
        "ranger.service.http.port" : "6080",
        "ranger.service.https.port" : "6182",
        "ranger.spnego.kerberos.keytab" : "",
        "ranger.spnego.kerberos.principal" : "*",
        "ranger.sso.browser.useragent" : "Mozilla,chrome",
        "ranger.sso.enabled" : "false",{% endraw %}
        "ranger.sso.providerurl" : "https://{{ all['RANGER_ADMIN'][0] }}:8443/gateway/knoxsso/api/v1/websso",
        "ranger.sso.publicKey" : "",{% raw %}
        "ranger.unixauth.remote.login.enabled" : "true",
        "ranger.unixauth.service.hostname" : "{{ugsync_host}}",{% endraw %}
				{% if ambari_stack_name|lower == 'odp'%}"ranger.admin.cookie.name" : "RANGERADMINSESSIONID",{% endif %}
        "ranger.unixauth.service.port" : "5151"
			}
		}
	}
}
