{% set ranger_service_name = 'nifi-registry' if in_services == 'NIFI_REGISTRY' else in_services|lower %}
{% set plugin_enabled = cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN is defined and cluster_services.RANGER.PLUGIN[in_services] is defined and cluster_services.RANGER.PLUGIN[in_services] %}
{% set hadoop_authorization_services = ['HDFS', 'YARN', 'OZONE', 'KUDU', 'POLARIS'] %}
{
	"Clusters": {
		"desired_configs": {
			"type": "ranger-{{ ranger_service_name }}-security",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
				{% if cluster_services.RANGER is defined and cluster_services.RANGER.SSL is defined and cluster_services.RANGER.SSL %}
        "ranger.plugin.{{ ranger_service_name }}.policy.rest.url" : "https://{{ all['RANGER_ADMIN'][0] }}:6182",
				{% else %}
        "ranger.plugin.{{ ranger_service_name }}.policy.rest.url" : "http://{{ all['RANGER_ADMIN'][0] }}:6080",
				{% endif %}
        "ranger.plugin.{{ ranger_service_name }}.policy.pollIntervalMs" : "30000",
        "ranger.plugin.{{ ranger_service_name }}.policy.source.impl" : "{% if in_services == "KNOX" %}org.apache.ranger.admin.client.RangerAdminJersey2RESTClient{% else %}org.apache.ranger.admin.client.RangerAdminRESTClient{% endif %}",
				"ranger.plugin.{{ ranger_service_name }}.policy.cache.dir" : {% raw %}"/etc/ranger/{{repo_name}}/policycache",{% endraw %}
        "ranger.plugin.{{ ranger_service_name }}.service.name" : {% raw %}"{{repo_name}}",{% endraw %}
				{% if plugin_enabled and in_services == "YARN" %}
				"ranger.add-yarn-authorization" : "false",
				{% endif %}
				{% if plugin_enabled and in_services in hadoop_authorization_services %}
				"xasecure.add-hadoop-authorization" : "true",
				{% endif %}
				"ranger.plugin.{{ ranger_service_name }}.policy.rest.ssl.config.file" : "{% if in_services == "HIVE" %}{% raw %}{{ranger_hive_ssl_config_file}}{% endraw %}{% elif in_services in ["HDFS", "YARN", "OZONE"] %}/etc/hadoop/conf/ranger-policymgr-ssl.xml{% else %}/etc/{{ ranger_service_name }}/conf/ranger-policymgr-ssl.xml{% endif %}"
      }
    }
	}
}
