{
	"Clusters": {
		"desired_configs": {
			"type": "ranger-{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}-security",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
				{% if cluster_services.RANGER is defined and cluster_services.RANGER.SSL is defined and cluster_services.RANGER.SSL %}
        "ranger.plugin.{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}.policy.rest.url" : "https://{{ all['RANGER_ADMIN'][0] }}:6182",
				{% else %}
        "ranger.plugin.{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}.policy.rest.url" : "http://{{ all['RANGER_ADMIN'][0] }}:6080",
				{% endif %}
        "ranger.plugin.{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}.policy.pollIntervalMs" : "30000",
        "ranger.plugin.{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}.policy.source.impl" : "org.apache.ranger.admin.client.RangerAdminRESTClient",
				"ranger.plugin.{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}.policy.cache.dir" : {% raw %}"/etc/ranger/{{repo_name}}/policycache",{% endraw %}
        "ranger.plugin.{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}.service.name" : {% raw %}"{{repo_name}}",{% endraw %}
				{%if cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN[in_services] is defined and cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN[in_services] and in_services == "YARN" %}
				"ranger.add-yarn-authorization" : "false",
				{% endif %}
				{%if cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN[in_services] is defined and cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN[in_services] and in_services == "HIVE" %}
				{% raw %}"ranger.plugin.hive.policy.rest.ssl.config.file" : "{{ranger_hive_ssl_config_file}}"{% endraw %}
				{% elif cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN[in_services] is defined and cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN[in_services] and in_services in ["HDFS", "YARN"] and cluster_services.RANGER.SSL is defined and cluster_services.RANGER.SSL %}
				"xasecure.add-hadoop-authorization" : "true",
				"ranger.plugin.{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}.policy.rest.ssl.config.file" : "/etc/hadoop/conf/ranger-policymgr-ssl.xml"
				{% elif cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN[in_services] is defined and cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN[in_services] and in_services == "HDFS" and cluster_services.RANGER.SSL is defined and cluster_services.RANGER.SSL %}
				"xasecure.add-hadoop-authorization" : "true"
				{% else %}
				"ranger.plugin.{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}.policy.rest.ssl.config.file" : "/etc/{% if in_services == "NIFI_REGISTRY" %}nifi-registry{% else %}{{ in_services|lower }}{% endif %}/conf/ranger-policymgr-ssl.xml"
				{% endif %}
      }
    }
		}
		}
