{
  "REPOSITORY_CONFIG_PASSWORD": "hadoop",
  "REPOSITORY_CONFIG_USERNAME": "hadoop",
  "common.name.for.certificate": "",
  "hadoop.rpc.protection": "authentication",
  "policy_user": "ambari-qa",
  "ranger-ozone-plugin-enabled": "No"
}