{"Clusters":{"desired_configs":{"type":"resource-types","tag":"{{ range(00000000, 99999999) | random }}","properties":{ {% raw %}
  "yarn.resource-types": "",
  "yarn.resource-types.yarn.io_gpu.maximum-allocation": "8"
}
}
}
}{% endraw %}
