{
	"Clusters": {
		"desired_configs": {
			"type": "spark3-thrift-fairscheduler",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": { {% raw %}
        "fairscheduler_content" : "<?xml version=\"1.0\"?>\n            <allocations>\n            <pool name=\"default\">\n            <schedulingMode>FAIR</schedulingMode>\n            <weight>1</weight>\n            <minShare>2</minShare>\n            </pool>\n            </allocations>"
        {% endraw %}
      }
    }
  }
}
