{
  "ssl.client.truststore.location": "/etc/hadoop/conf/ozone.manager/truststore.jks",
  "ssl.client.truststore.password": "changeit",
  "ssl.client.truststore.reload.interval": "10000",
  "ssl.client.truststore.type": "jks"
}