{
	"Clusters": {
		"desired_configs": {
			"type": "ssl-client-scm",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
        "ssl.client.truststore.location": "/etc/hadoop/conf/ozone.scm/truststore.jks",
        "ssl.client.truststore.password": "changeit",
        "ssl.client.truststore.reload.interval": "10000",
        "ssl.client.truststore.type": "jks"
      }
    }
  }
}
