{
  "hadoop.security.credential.provider.path": "localjceks://file/etc/hadoop/conf/ozone.om/credential.jceks",
  "ssl.server.exclude.cipher.list": "^TLS_DHE.*$,^.*SHA$,^TLS_RSA_WITH.*$,^.*MD5.*$,^TLS_DH_.*$,^.*RC4.*$,^.*CCM.*$",
  "ssl.server.keystore.keypassword": "changeit",
  "ssl.server.keystore.location": "/etc/hadoop/conf/ozone.manager/keystore.jks",
  "ssl.server.keystore.password": "changeit",
  "ssl.server.keystore.type": "jks"
}