{
	"Clusters": {
		"desired_configs": {
			"type": "tez-env",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": { {% raw %}
        "content" : "\n# Tez specific configuration\nexport TEZ_CONF_DIR={{config_dir}}\n\n# Set HADOOP_HOME to point to a specific hadoop install directory\nexport HADOOP_HOME=${HADOOP_HOME:-{{hadoop_home}}}\n\n# The java implementation to use.\nexport JAVA_HOME={{java64_home}}\n    ",
        "enable_heap_dump" : "false",
        "heap_dump_location" : "/tmp",
        "tez_user" : "tez"
			}
		}
	}
}{% endraw %}
