{
	"Clusters": {
		"desired_configs": {
			"type": "usersync-logback",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": { {% raw %}
        "content" : "\n<configuration>\n    <appender name=\"logFile\" class=\"ch.qos.logback.core.rolling.RollingFileAppender\">\n        <file>{{usersync_log_dir}}/usersync-${hostname}-${user}.log</file>\n        <encoder>\n            <pattern>%d{dd MMM yyyy HH:mm:ss} %5p %c{1} [%t] - %m%n</pattern>\n        </encoder>\n        <rollingPolicy class=\"ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy\">\n            <fileNamePattern>{{usersync_log_dir}}/usersync-${hostname}-${user}.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>\n            <maxFileSize>{{ ranger_usersync_logback_maxfilesize }}</maxFileSize>\n            <maxHistory>{{ ranger_usersync_logback_maxbackupindex }}</maxHistory>\n            <cleanHistoryOnStart>true</cleanHistoryOnStart>\n        </rollingPolicy>\n    </appender>\n    <root level=\"info\">\n        <appender-ref ref=\"logFile\"/>\n    </root>\n</configuration>\n        ",
        "ranger_usersync_logback_maxbackupindex": "20",
  		"ranger_usersync_logback_maxfilesize": "256"{% endraw %}
			}
		}
	}
}
