{"Clusters":{"desired_configs":{"type":"yarn-site","tag":"{{ range(00000000, 99999999) | random }}","properties":{
  {% if cluster_services.SPARK2 is defined and cluster_services.SPARK2.SSL is defined and cluster_services.SPARK2.SSL %}"spark.authenticate" : "true",{% endif %}
  "hadoop.registry.zk.quorum": "{% for host in zookeeper_quorum %}{{ host }}:2181{% if not loop.last %},{% endif %}{% endfor %}",
  {% if cluster_services.RANGER is defined and cluster_services.RANGER.PLUGIN is defined and cluster_services.RANGER.PLUGIN.HDFS %}
  "yarn.acl.enable" : "true",
  "yarn.authorization-provider" : "org.apache.ranger.authorization.yarn.authorizer.RangerYarnAuthorizer",
  {% else %}
  "yarn.acl.enable" : "false",
  {% endif %}
  "yarn.admin.acl" : "yarn",
  {% raw %}"yarn.application.classpath": "$HADOOP_CONF_DIR,{{hadoop_home}}/*,{{hadoop_home}}/lib/*,{{stack_root}}/current/hadoop-hdfs-client/*,{{stack_root}}/current/hadoop-hdfs-client/lib/*,{{stack_root}}/current/hadoop-yarn-client/*,{{stack_root}}/current/hadoop-yarn-client/lib/*",{% endraw%}
  "yarn.client.nodemanager-connect.max-wait-ms" : "60000",
  "yarn.client.nodemanager-connect.retry-interval-ms" : "10000",
  {% if cluster_services.YARN.SSL is defined and cluster_services.YARN.SSL %}
  "yarn.http.policy" : "HTTPS_ONLY",
  "yarn.log.server.url" : "https://{{ all['HISTORYSERVER'][0] }}:19889/jobhistory/logs",
  "yarn.log.server.web-service.url" : "https://{{ all['APP_TIMELINE_SERVER'][0] }}:8190/ws/v1/applicationhistory",
  "yarn.nodemanager.webapp.https.address" : "0.0.0.0:8044",
  {% else %}
  "yarn.http.policy" : "HTTP_ONLY",
  "yarn.log.server.url" : "http://{{ all['HISTORYSERVER'][0] }}:19888/jobhistory/logs",
  "yarn.log.server.web-service.url" : "http://{{ all['APP_TIMELINE_SERVER'][0] }}:8188/ws/v1/applicationhistory",
  {% endif %}
  "yarn.nodemanager.webapp.address" : "0.0.0.0:8042",
  "yarn.log-aggregation-enable" : "true",
  "yarn.log-aggregation.retain-seconds" : "2592000",
  "yarn.node-labels.enabled" : "false",
  "yarn.node-labels.fs-store.retry-policy-spec" : "2000, 500",
  "yarn.node-labels.fs-store.root-dir" : "/system/yarn/node-labels",
  "yarn.nodemanager.address" : "0.0.0.0:45454",
  "yarn.nodemanager.admin-env" : "MALLOC_ARENA_MAX=$MALLOC_ARENA_MAX",
  "yarn.nodemanager.aux-services" : "mapreduce_shuffle{% if cluster_services.SPARK2 is defined and cluster_services.SPARK2 %},spark2_shuffle{% endif %}{% if ambari_stack_name == 'ODP' or ambari_stack_version >= 3 and all['YARN_TIMELINE_READER'] is %}{% raw %},{{timeline_collector}}{% endraw %}{% endif%}",
  "yarn.nodemanager.aux-services.mapreduce_shuffle.class" : "org.apache.hadoop.mapred.ShuffleHandler",
  "yarn.nodemanager.aux-services.spark2_shuffle.class" : "org.apache.spark.network.yarn.YarnShuffleService",
  "yarn.nodemanager.aux-services.spark2_shuffle.classpath" : "{% raw %}{{stack_root}}{% endraw %}/current/spark2-client/yarn/*",
  "yarn.nodemanager.aux-services.spark_shuffle.class" : "org.apache.spark.network.yarn.YarnShuffleService",
  {% raw %}"yarn.nodemanager.aux-services.spark_shuffle.classpath" : "{{stack_root}}{% endraw %}/current/spark-client/yarn/*",
  "yarn.nodemanager.bind-host" : "0.0.0.0",
  "yarn.nodemanager.container-executor.class" : "org.apache.hadoop.yarn.server.nodemanager.DefaultContainerExecutor",
  "yarn.nodemanager.container-metrics.unregister-delay-ms" : "60000",
  "yarn.nodemanager.container-monitor.interval-ms" : "3000",
  "yarn.nodemanager.delete.debug-delay-sec" : "0",
  "yarn.nodemanager.disk-health-checker.max-disk-utilization-per-disk-percentage" : "90",
  "yarn.nodemanager.disk-health-checker.min-free-space-per-disk-mb" : "1000",
  "yarn.nodemanager.disk-health-checker.min-healthy-disks" : "0.25",
  "yarn.nodemanager.health-checker.interval-ms" : "135000",
  "yarn.nodemanager.health-checker.script.timeout-ms" : "60000",{% if ambari_stack_name == 'HDP' and ambari_stack_version < 3 %}
  "yarn.nodemanager.kill-escape.launch-command-line" : "slider-agent,LLAP",
  "yarn.nodemanager.kill-escape.user" : "hive",{% endif %}
  "yarn.nodemanager.linux-container-executor.cgroups.hierarchy" : "hadoop-yarn",
  "yarn.nodemanager.linux-container-executor.cgroups.mount" : "false",
  "yarn.nodemanager.linux-container-executor.cgroups.mount-path" : "/cgroup",
  "yarn.nodemanager.linux-container-executor.cgroups.strict-resource-usage" : "false",
  "yarn.nodemanager.linux-container-executor.group" : "hadoop",
  "yarn.nodemanager.linux-container-executor.resources-handler.class" : "org.apache.hadoop.yarn.server.nodemanager.util.DefaultLCEResourcesHandler",
  "yarn.nodemanager.local-dirs" : "{% for dir in hdp_yarn_local_dir %}{{ dir }}{% if not loop.last %},{% endif %}{% endfor %}",
  "yarn.nodemanager.log-aggregation.compression-type" : "gz",
  "yarn.nodemanager.log-aggregation.debug-enabled" : "false",
  "yarn.nodemanager.log-aggregation.num-log-files-per-app" : "336",
  "yarn.nodemanager.log-aggregation.roll-monitoring-interval-seconds" : "3600",
  "yarn.nodemanager.log-dirs" : "{% for dir in hdp_yarn_log_dir %}{{ dir }}{% if not loop.last %},{% endif %}{% endfor %}",
  "yarn.nodemanager.log.retain-seconds" : "604800",
  {% raw %}"yarn.nodemanager.recovery.dir" : "{{yarn_log_dir_prefix}}/nodemanager/recovery-state",{% endraw %}
  "yarn.nodemanager.recovery.enabled" : "true",
  "yarn.nodemanager.remote-app-log-dir" : "/app-logs",
  "yarn.nodemanager.remote-app-log-dir-suffix" : "logs",
  "yarn.nodemanager.resource.cpu-vcores" : "4",
  "yarn.nodemanager.resource.memory-mb" : "5120",
  "yarn.nodemanager.resource.percentage-physical-cpu-limit" : "80",
  "yarn.nodemanager.vmem-check-enabled" : "false",
  "yarn.nodemanager.vmem-pmem-ratio" : "2.1",
  {% if ambari_stack_name == 'ODP' or ambari_stack_version >= 3 %}
  "yarn.nodemanager.aux-services.timeline_collector.class": "org.apache.hadoop.yarn.server.timelineservice.collector.PerNodeTimelineCollectorsAuxService",
  "yarn.nodemanager.webapp.cross-origin.enabled": "true",
  "yarn.nodemanager.recovery.supervised": "true",
  "yarn.nodemanager.resource-plugins": "",
  "yarn.nodemanager.resource-plugins.gpu.allowed-gpu-devices": "auto",
  "yarn.nodemanager.resource-plugins.gpu.docker-plugin": "nvidia-docker-v1",
  "yarn.nodemanager.resource-plugins.gpu.docker-plugin.nvidiadocker-v1.endpoint": "http://localhost:3476/v1.0/docker/cli",
  "yarn.nodemanager.resource-plugins.gpu.path-to-discovery-executables": "",
  "yarn.nodemanager.runtime.linux.allowed-runtimes": "default,docker",
  "yarn.nodemanager.runtime.linux.docker.allowed-container-networks": "host,none,bridge",
  "yarn.nodemanager.runtime.linux.docker.capabilities": "\n      CHOWN,DAC_OVERRIDE,FSETID,FOWNER,MKNOD,NET_RAW,SETGID,SETUID,SETFCAP,\n      SETPCAP,NET_BIND_SERVICE,SYS_CHROOT,KILL,AUDIT_WRITE\n    ",
  "yarn.nodemanager.runtime.linux.docker.default-container-network": "host",
  "yarn.nodemanager.runtime.linux.docker.privileged-containers.acl": "",
  "yarn.nodemanager.runtime.linux.docker.privileged-containers.allowed": "false",
  "yarn.resourcemanager.display.per-user-apps": "true",
  "yarn.resourcemanager.monitor.capacity.preemption.intra-queue-preemption.enabled": "true",
  "yarn.resourcemanager.monitor.capacity.preemption.monitoring_interval": "15000",
  "yarn.resourcemanager.placement-constraints.handler": "scheduler",
  {% raw %}"hadoop.http.cross-origin.allowed-origins": "{{cross_origins}}",{% endraw %}
  "hadoop.registry.dns.bind-address": "0.0.0.0",
  "hadoop.registry.dns.bind-port": "53",
  "hadoop.registry.dns.domain-name": "EXAMPLE.COM",
  "hadoop.registry.dns.enabled": "true",
  "hadoop.registry.dns.zone-mask": "255.255.255.0",
  "hadoop.registry.dns.zone-subnet": "172.17.0.0",
  "manage.include.files": "false",
  "yarn.resourcemanager.webapp.cross-origin.enabled": "true",
  "yarn.rm.system-metricspublisher.emit-container-events": "true",
  "yarn.service.framework.path": "{% if ambari_stack_name|lower == "odp" %}/odp/apps/${odp.version}{% else %}/hdp/apps/${hdp.version}{% endif %}/yarn/service-dep.tar.gz",
  "yarn.service.system-service.dir": "/services",
  "yarn.system-metricspublisher.enabled": "true",
  "yarn.timeline-service.generic-application-history.save-non-am-container-meta-info" : "false",
  "yarn.timeline-service.hbase-schema.prefix" : "prod.",
  {% raw %}
  "yarn.timeline-service.hbase.configuration.file": "file://{{yarn_hbase_conf_dir}}/hbase-site.xml",
  "yarn.timeline-service.hbase.coprocessor.jar.hdfs.location": "{{yarn_timeline_jar_location}}",
  {% endraw %}
  "yarn.timeline-service.versions" : "1.5f{% if and all['YARN_TIMELINE_READER'] is defined %},2.0f{% endif %}",
  "yarn.webapp.api-service.enable" : "true",
  "yarn.webapp.ui2.enable" : "true",
  {% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.cluster-id": "yarn-cluster",{% endif %}
  "yarn.resourcemanager.address" : "{{ all['RESOURCEMANAGER'][0] }}:8050",
  "yarn.resourcemanager.admin.address" : "{{ all['RESOURCEMANAGER'][0] }}:8141",
  "yarn.resourcemanager.am.max-attempts" : "2",
  "yarn.resourcemanager.bind-host" : "0.0.0.0",
  "yarn.resourcemanager.connect.max-wait.ms" : "-1",
  "yarn.resourcemanager.connect.retry-interval.ms" : "15000",
  "yarn.resourcemanager.fs.state-store.retry-policy-spec" : "2000, 500",
  "yarn.resourcemanager.fs.state-store.uri" : " ",
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.ha.enabled" : "true",{% else %}"yarn.resourcemanager.ha.enabled" : "false",{% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.hostname" : "{{ all['RESOURCEMANAGER'][0] }}:8088",{% else %}"yarn.resourcemanager.hostname" : "localhost",{% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.hostname.rm1" : "{{ all['RESOURCEMANAGER'][0] }}",{% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.hostname.rm2" : "{{ all['RESOURCEMANAGER'][1] }}",{% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.webapp.address.rm1" : "{{ all['RESOURCEMANAGER'][0] }}:8088",{% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.webapp.address.rm2" : "{{ all['RESOURCEMANAGER'][1] }}:8088",{% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.webapp.https.address.rm1" : "{{ all['RESOURCEMANAGER'][0] }}:8090",{% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.webapp.https.address.rm2" : "{{ all['RESOURCEMANAGER'][1] }}:8090",{% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.ha.automatic-failover.zk-base-path" : "/yarn-leader-election",{% endif %}
  {% if cluster_services.YARN.HA is defined and cluster_services.YARN.HA %}"yarn.resourcemanager.ha.rm-ids" : "rm1,rm2",{% endif %}
  "yarn.resourcemanager.monitor.capacity.preemption.natural_termination_factor" : "1",
  "yarn.resourcemanager.monitor.capacity.preemption.total_preemption_per_round" : "0.1",
  "yarn.resourcemanager.nodes.exclude-path" : "/etc/hadoop/conf/yarn.exclude",
  "yarn.resourcemanager.recovery.enabled" : "true",
  "yarn.resourcemanager.resource-tracker.address" : "{{ all['RESOURCEMANAGER'][0] }}:8025",
  "yarn.resourcemanager.scheduler.address" : "{{ all['RESOURCEMANAGER'][0] }}:8030",
  "yarn.resourcemanager.scheduler.class" : "org.apache.hadoop.yarn.server.resourcemanager.scheduler.capacity.CapacityScheduler",
  "yarn.resourcemanager.scheduler.monitor.enable" : "{% if ambari_stack_name == 'ODP' or ambari_stack_version >= 3 %}true{% else %}false{% endif %}",
  "yarn.resourcemanager.state-store.max-completed-applications" : "${yarn.resourcemanager.max-completed-applications}",
  "yarn.resourcemanager.store.class" : "org.apache.hadoop.yarn.server.resourcemanager.recovery.ZKRMStateStore",
  "yarn.resourcemanager.system-metrics-publisher.dispatcher.pool-size" : "10",
  "yarn.resourcemanager.system-metrics-publisher.enabled" : "true",
  "yarn.resourcemanager.webapp.address" : "{{ all['RESOURCEMANAGER'][0] }}:8088",
  "yarn.resourcemanager.webapp.delegation-token-auth-filter.enabled" : "false",
  "yarn.resourcemanager.webapp.https.address" : "{{ all['RESOURCEMANAGER'][0] }}:8090",
  "yarn.resourcemanager.work-preserving-recovery.enabled" : "true",
  "yarn.resourcemanager.work-preserving-recovery.scheduling-wait-ms" : "10000",
  "yarn.resourcemanager.zk-acl" : "world:anyone:rwcda",
  "yarn.resourcemanager.zk-address" : "{% for host in zookeeper_quorum %}{{ host }}:2181{% if not loop.last %},{% endif %}{% endfor %}",
  "yarn.resourcemanager.zk-num-retries" : "1000",
  "yarn.resourcemanager.zk-retry-interval-ms" : "1000",
  "yarn.resourcemanager.zk-state-store.parent-path" : "/rmstore",
  "yarn.resourcemanager.zk-timeout-ms" : "10000",
  "yarn.scheduler.capacity.ordering-policy.priority-utilization.underutilized-preemption.enabled" : "{% if ambari_stack_name == 'ODP' or ambari_stack_version >= 3 %}true{% else %}false{% endif %}",
  "yarn.scheduler.maximum-allocation-mb" : "5120",
  "yarn.scheduler.maximum-allocation-vcores": "8",
  "yarn.scheduler.minimum-allocation-mb" : "512",
  "yarn.scheduler.minimum-allocation-vcores" : "1",
  "yarn.timeline-service.address" : "{{ all['APP_TIMELINE_SERVER'][0] }}:10200",
  "yarn.timeline-service.bind-host" : "0.0.0.0",
  "yarn.timeline-service.client.max-retries" : "30",
  "yarn.timeline-service.client.retry-interval-ms" : "1000",
  "yarn.timeline-service.enabled" : "true",
  "yarn.timeline-service.entity-group-fs-store.active-dir" : "/ats/active/",
  "yarn.timeline-service.entity-group-fs-store.app-cache-size" : "10",
  "yarn.timeline-service.entity-group-fs-store.cleaner-interval-seconds" : "3600",
  "yarn.timeline-service.entity-group-fs-store.done-dir" : "/ats/done/",
  "yarn.timeline-service.entity-group-fs-store.group-id-plugin-classes" : {% if ambari_stack_name == 'ODP' or ambari_stack_version >= 3 %}"org.apache.hadoop.yarn.applications.distributedshell.DistributedShellTimelinePlugin"{% else %}""{% endif %},
  "yarn.timeline-service.entity-group-fs-store.group-id-plugin-classpath" : "",
  "yarn.timeline-service.entity-group-fs-store.retain-seconds" : "604800",
  "yarn.timeline-service.entity-group-fs-store.scan-interval-seconds" : "60",
  "yarn.timeline-service.entity-group-fs-store.summary-store" : "org.apache.hadoop.yarn.server.timeline.RollingLevelDBTimelineStore",
  "yarn.timeline-service.generic-application-history.store-class" : "org.apache.hadoop.yarn.server.applicationhistoryservice.NullApplicationHistoryStore",
  "yarn.timeline-service.http-authentication.simple.anonymous.allowed" : "true",
  "yarn.timeline-service.http-authentication.type" : "simple",
  "yarn.timeline-service.http-cross-origin.enabled" : "true",
  "yarn.timeline-service.leveldb-state-store.path" : "/hadoop/yarn/timeline",
  "yarn.timeline-service.leveldb-timeline-store.path" : "/hadoop/yarn/timeline",
  "yarn.timeline-service.leveldb-timeline-store.read-cache-size" : "104857600",
  "yarn.timeline-service.leveldb-timeline-store.start-time-read-cache-size" : "10000",
  "yarn.timeline-service.leveldb-timeline-store.start-time-write-cache-size" : "10000",
  "yarn.timeline-service.leveldb-timeline-store.ttl-interval-ms" : "300000",
  "yarn.timeline-service.reader.webapp.address" : "{% if all['TIMELINE_READER'] is defined %}{{all['TIMELINE_READER'][0] }}{% else %}localhost{% endif %}:8198",
  "yarn.timeline-service.reader.webapp.https.address" : "{% if all['TIMELINE_READER'] is defined %}{{all['TIMELINE_READER'][0] }}{% else %}localhost{% endif %}:8199",
  "yarn.timeline-service.recovery.enabled" : "true",
  "yarn.timeline-service.state-store-class" : "org.apache.hadoop.yarn.server.timeline.recovery.LeveldbTimelineStateStore",
  "yarn.timeline-service.store-class" : "org.apache.hadoop.yarn.server.timeline.EntityGroupFSTimelineStore",
  "yarn.timeline-service.ttl-enable" : "true",
  "yarn.timeline-service.ttl-ms" : "2678400000",
  "yarn.timeline-service.version" : "1.5f",
  "yarn.timeline-service.webapp.address" : "{{ all['APP_TIMELINE_SERVER'][0] }}:8188",
  "yarn.timeline-service.webapp.https.address" : "{{ all['APP_TIMELINE_SERVER'][0] }}:8190"
}
}
}
}
