{
	"Clusters": {
		"desired_configs": {
			"type": "zoo.cfg",
			"tag": "{{ range(00000000, 99999999) | random }}",
			"properties": {
				"autopurge.purgeInterval": "24",
				"autopurge.snapRetainCount": "30",
				"clientPort": "2181",
				"dataDir": "{{zoo_datadir}}",
				"initLimit": "10",
				"4lw.commands.whitelist": "*",
				"syncLimit": "5",
			  {% if ambari_stack_name == 'ODP' or ambari_stack_version >= 3.0 %}
			  {% if cluster_services.KERBEROS is defined%}
			  	"quorum.auth.enableSasl": "true",
				"quorum.cnxn.threads.size": "20",
				"quorum.auth.kerberos.servicePrincipal": "zookeeper/_HOST",
				"quorum.auth.learnerRequireSasl": "true",
				"quorum.auth.serverRequireSasl": "true",
				{% else %}
				"quorum.auth.enableSasl": "false",
			  {% endif %}				
				{% endif %}
				"tickTime": "3000"
			}
		}
	}
}
